{% comment %} {{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'component-visual-display.css' | asset_url | stylesheet_tag }} {% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="facets-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <facet-filters-form class="facets">
    <form
      id="FacetFiltersForm"
      class="facets__form"
    >
      {%- if results.terms -%}
        <input type="hidden" name="q" value="{{ results.terms | escape }}">
        <input name="options[prefix]" type="hidden" value="last">
      {%- endif -%}
      {% if enable_filtering %}
        <div
          id="FacetsWrapperDesktop"
          class="facets__wrapper"
        >
          {% comment %} start  my filter collection  {% endcomment %}
          {%- if request.page_type != 'search' -%}
            <details
              id="Details-{{ forloop.index }}-{{ section.id }}"
              class="filter-dropdown-style disclosure-has-popup facets__disclosure js-filter"
              data-index="{{ forloop.index }}"
              {% if filter_type == 'vertical' and forloop.index == 1 %}
                open
              {% endif %}
            >
              <summary class="facets__summary caption-large focus-offset">
                <div>
                  <span class="facets__summary-label">
                    <span class="current-collection facets__selected no-js-hidden{% if filter.active_values.size == 0 %} hidden{% endif %}">
                      {{- collection.title -}}
                    </span>
                  </span>
                  {% render 'icon-caret' %}
                </div>
              </summary>
              <div
                id="Facet-{{ forloop.index }}-{{ section.id }}"
                class="parent-display {% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
              >
                {%- for collection in collections -%}
                  <span
                    class="collection-list__item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'my-custom-collections', card_collection: collection %}
                  </span>
                {%- endfor -%}
              </div>
            </details>
          {% endif %}
          {% comment %} end  my filter collection {% endcomment %}

          <facet-filters-form class="facets small-hide">
            <form id="FacetSortDrawerForm" class="facets__form">
              <div class="facet-filters sorting caption small-hide">
                <div class="facet-filters__field">
                  <div class="select">
                    {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                    <select
                      name="sort_by"
                      class="facet-filters__sort select__select caption-large"
                      id="SortBy"
                      aria-describedby="a11y-refresh-page-message"
                    >
                      {%- for option in results.sort_options -%}
                        <option
                          value="{{ option.value | escape }}"
                          {% if option.value == sort_by %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ option.name | escape }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
      
                <noscript>
                  <button type="submit" class="facets__button-no-js button button--secondary">
                    {{ 'products.facets.sort_button' | t }}
                  </button>
                </noscript>
              </div>
      
              {% if results.current_vendor or results.current_type %}
                <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
              {% endif %}
      
              {%- if results.terms -%}
                <input type="hidden" name="q" value="{{ results.terms | escape }}">
                <input name="options[prefix]" type="hidden" value="last">
              {%- endif -%}
            </form>
          </facet-filters-form>
        </div>
      {% endif %}
    </form>
  </facet-filters-form>
</div>
<script src="{{ 'sort-by.js' | asset_url }}" defer="defer"></script>