





{%- liquid
    assign sorted_values = filter.values
    if filter.operator == 'AND'
      assign active_filter_values = filter.values | where: 'active', true
      assign inactive_filter_values = filter.values | where: 'active', false
      assign sorted_values = active_filter_values | concat: inactive_filter_values
    endif
  -%}
  {%- for value in sorted_values -%}
    {% liquid
      assign is_disabled = false
      if value.count == 0 and value.active == false
        assign is_disabled = true
      endif
    %}

    <span class="custom-list-menu__item list-menu__item facets__item{% if forloop.index > show_more_number and filter_type == 'vertical' %} show-more-item hidden{% endif %}">
      <label
        for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
        class="facets__label facet-checkbox{% if is_disabled %} facet-checkbox--disabled disabled{% endif %}{% if has_visual_display %} visual-display-parent visual-display-parent--{{ filter.presentation }}{% endif %}{% if value.active %} active{% endif %}"
      >
        <input
          type="checkbox"
          name="{{ value.param_name }}"
          value="{{ value.value }}"
          id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
          {% if value.active %}
            checked
          {% endif %}
          {% if is_disabled %}
            disabled
          {% endif %}
        >

        <span class="facet-checkbox__text" aria-hidden="true">{{- value.label | escape }}</span>
      </label>
    </span>
  {%- endfor -%}