<div class="social-links {{class}}">
	{{!--
	<a class="social-links__link" href="#">
		<img class="social-links__image social-links__image_color"
			 src="{{root}}assets/images/social-icons/youtube-color.svg"
			 alt=""
			 aria-hidden="true"
		>
		<img class="social-links__image social-links__image_outline"
			 src="{{root}}assets/images/social-icons/youtube.svg"
			 alt=""
			 aria-hidden="true"
		>
		<span class="social-links__text">YouTube</span>
	</a>
	--}}
	<a class="social-links__link" href="#">
		<img class="social-links__image social-links__image_color"
			 src="{{root}}assets/images/social-icons/instagram-color.svg"
			 alt=""
			 aria-hidden="true"
		>
		<img class="social-links__image social-links__image_outline"
			 src="{{root}}assets/images/social-icons/instagram.svg"
			 alt=""
			 aria-hidden="true"
		>
		<span class="social-links__text">Instagram</span>
	</a>
	<a class="social-links__link" href="#">
		<img class="social-links__image social-links__image_color"
			 src="{{root}}assets/images/social-icons/facebook-color.svg"
			 alt=""
			 aria-hidden="true"
		>
		<img class="social-links__image social-links__image_outline"
			 src="{{root}}assets/images/social-icons/facebook.svg"
			 alt=""
			 aria-hidden="true"
		>
		<span class="social-links__text">Facebook</span>
	</a>
	<a class="social-links__link" href="#">
		<img class="social-links__image social-links__image_color"
			 src="{{root}}assets/images/social-icons/linkedin-color.svg"
			 alt=""
			 aria-hidden="true"
		>
		<img class="social-links__image social-links__image_outline"
			 src="{{root}}assets/images/social-icons/linkedin.svg"
			 alt=""
			 aria-hidden="true"
		>
		<span class="social-links__text">LinkedIn</span>
	</a>
</div>
