{%- style -%}
  #shopify-section-{{ section.id }} {
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'button' -%}
      --color-button-background: {{ block.settings.color_button_backgroun }};
      --color-color-button-label: {{ block.settings.color_button_label }};
      --color-color-button-border: {{ block.settings.color_button_border }};
      --hover-color-button-background: {{ block.settings.hover_color_button_backgroun }};
      --hover-color-button-border: {{ block.settings.hover_color_button_border }};
      --hover-color-button-label: {{ block.settings.hover_color_button_label }};
      {%- endcase -%}
    {%- endfor -%}
  }
{%- endstyle -%}
{{ 'custom-style-buttons.css' | asset_url | stylesheet_tag }}
<section class="banner">
  {%- if section.settings.image != blank -%}
    <img
      src="{{ section.settings.image | img_url:  'original'}}"
      alt=""
      class="object-fit object-fit-cover"
    >
  {% endif %}
  <div class="page-width">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'media' %}
          {%- if block.settings.image != blank -%}
            <div class="banner__logo">
              <img
                src="{{ block.settings.image | img_url:  'original'}}"
                alt=""
              >
            </div>
          {%- endif -%}
        {% when 'title' %}
          {%- if block.settings.title != blank -%}
            <h1 class="banner__title" style=" color: {{ block.settings.color_title_label }};">
              {{ block.settings.title -}}
            </h1>
          {% endif %}
        {% when 'description' %}
          {%- if block.settings.description != blank -%}
            <div class="banner__description" style=" color:{{ block.settings.color_description_label }};">
              {{ block.settings.description }}
            </div>
          {%- endif -%}
        {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
            <div
              class="banner__btn"
            >
              <a
                {% if block.settings.button_link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link }}"
                {% endif %}

                class="btn"
              >
                {{- block.settings.button_label | escape -}}
              </a>
            </div>
          {%- endif -%}
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color_description_label",
          "label": "Color Description Label",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "media",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "color_button_backgroun",
          "label": "Button Background Color",
          "default": "rgba(255, 0, 0, 0.5)"
        },
        {
          "type": "color",
          "id": "color_button_label",
          "label": "Button Color Label",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "color_button_border",
          "label": "Button Color Border",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "hover_color_button_backgroun",
          "label": "Hover Button Background Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "hover_color_button_border",
          "label": "Hover Button Color Border",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "hover_color_button_label",
          "label": "Hover Button Color Label",
          "default": "#5491D6"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
