<section class="feedback">
  <div class="page-width">
    {% if section.settings.title != blank %}
      <h2 class="title" style=" color:{{ section.settings.color_title_label }}; font-size: {{block.settings.font_size}}px;">{{ section.settings.title }}</h2>
    {% endif %}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'section' %}
            <div class="feedback__wrapper">
              <h3 class="feedback__sub-title" style=" color:{{ block.settings.color_title-label }};">{{ block.settings.title }}</h3>
              <div class="feedback__form">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    region: 'na1',
                    portalId: '23904200',
                    formId: 'd0fc0c17-6140-42e4-8d6a-98268ae4e040',
                  });
                </script>
              </div>
            </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "feedback",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "font_size",
      "label": "Font Size Enter Number"
    },
    {
      "type": "color",
      "id": "color_title-label",
      "label": "Color Title Label",
      "default": "#383633"
    }
  ],
  "blocks": [
    {
      "type": "section",
      "name": "Section",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color_title-label",
          "label": "Color Title Label",
          "default": "#342663"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feedback"
    }
  ]
}
{% endschema %}
