<section class="free-downloads">
    <div class="page-width">
    <div class="free-downloads__title">Free Downloads</div>
    <div class="free-downloads__sub-title">Forms, processes and tools we use everyday at Milestone Church</div>
    {%- if section.blocks != blank -%}
      <div id="about-us__tabs">
        <div class="tabs-header desctop">
          {% for block in section.blocks %}
            {% if block.type != 'author' and block.type != 'job_offers' and block.type != 'job_responsibilities' %}
              <span id="tabs-trigger-{{ forloop.index }}" class="tab-trigger" data-index="{{ forloop.index }}">

                {{ block.settings.trigger }}
              </span>
            {% endif %}
          {% endfor %}
        </div>
        <div class="tabs-header mobile">
          <div class="custom-dropdown">
            <span class="tabs-header__mob-svg">{% render 'icon-mini-arrow' %}</span>
            <div class="selected-item" id="tabs-trigger-mobile" style="display: block;"></div>
            <div class="dropdown-menu" id="dropdown-menu-mobile" style="display: none;">
              {% for block in section.blocks %}
                {% if block.type != 'author' and block.type != 'job_offers' and block.type != 'job_responsibilities' %}
                  <div
                    class="dropdown-item {% if forloop.index == selected_index %}selected{% endif %}"
                    data-index="{{ forloop.index }}"
                  >
                    {{ block.settings.trigger }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="about-compan">
          {% for block in section.blocks %}
            <div id="tabs-content-{{forloop.index}}" class="tabs-content__item">
              {% case block.type %}
                {% when 'about_company' %}
                  <div class="section-about__company">
                    <div class="about-compan__wrapper">
                      
                    </div>
                  </div>
                {% when 'visit_showroom' %}
                  <div class="contact-information block-container">
                    <div class="contact-information__wrapper">
                      
                    </div>
                  </div>
                {% when 'company_history' %}
                  <div class="company-history">
                    
                  </div>
                {% when 'meet-our-team' %}
                  <div class="meet-our-team">
                  </div>
                {% when 'reviews_block' %}
                  <div class="rewiews-section">
                  </div>
                {% when 'careers_block' %}
                  <div class="careers-block">
                    
                   
                    
                  </div>
              {% endcase %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
</div>
  </section>
  
  
  
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const tabTriggersDesktop = document.querySelectorAll('.tabs-header.desctop .tab-trigger');
      const tabTriggerMobile = document.getElementById('tabs-trigger-mobile');
      const tabContents = document.querySelectorAll('.tabs-content__item');
      const customDropdown = document.querySelector('.custom-dropdown');
      const dropdownItems = document.querySelectorAll('.dropdown-item');
  
      let selected_index = 1;
  
      function toggleDropdown() {
        const dropdownMenuMobile = document.getElementById('dropdown-menu-mobile');
        dropdownMenuMobile.style.display = dropdownMenuMobile.style.display === 'block' ? 'none' : 'block';
      }
  
      function displayTabContentInDiv(content) {
        const test22Div = document.getElementById('test22');
        test22Div.textContent = content;
      }
  
      function setActiveTab(index) {
        tabContents.forEach((content) => content.classList.remove('active'));
        document.getElementById(`tabs-content-${index}`).classList.add('active');
  
        tabTriggersDesktop.forEach((trigger) => trigger.classList.remove('active'));
        tabTriggersDesktop[index - 1].classList.add('active');
  
        selected_index = index;
        hideDropdownMenu();
      }
  
      function hideDropdownMenu() {
        const dropdownMenuMobile = document.getElementById('dropdown-menu-mobile');
        dropdownMenuMobile.style.display = 'none';
      }
  
      function selectDropdownItem(clickedIndex) {
        if (selected_index !== clickedIndex) {
          if (selected_index === 1) {
            dropdownItems[0].style.display = 'block';
          }
  
          selected_index = clickedIndex;
          tabTriggerMobile.textContent = dropdownItems[clickedIndex - 1].textContent;
  
          dropdownItems.forEach((item) => {
            item.classList.remove('selected');
          });
          dropdownItems[clickedIndex - 1].classList.add('selected');
  
          hideDropdownMenu();
        }
      }
  
      tabTriggerMobile.addEventListener('click', toggleDropdown);
  
      tabTriggerMobile.addEventListener('click', () => {
        customDropdown.classList.toggle('active');
      });
  
      dropdownItems.forEach((item) => {
        item.addEventListener('click', () => {
          const clickedIndex = parseInt(item.dataset.index, 10);
          selectDropdownItem(clickedIndex);
          setActiveTab(clickedIndex);
          customDropdown.classList.remove('active');
        });
      });
  
      tabTriggersDesktop.forEach((trigger, index) => {
        trigger.addEventListener('click', () => {
          setActiveTab(index + 1);
          tabTriggerMobile.textContent = trigger.textContent;
        });
      });
  
      tabTriggersDesktop[0].classList.add('active');
      tabContents[0].classList.add('active');
      tabTriggerMobile.textContent = tabTriggersDesktop[0].textContent;
  
      function getActiveTabContent() {
        const tabTriggers = document.querySelectorAll('.tabs-header.desctop .tab-trigger.active');
        const activeTabContent = tabTriggers[0].textContent;
  
        return activeTabContent;
      }
  
      const test22Div = document.getElementById('root-page');
  
      setInterval(function () {
        const activeTabContent = getActiveTabContent();
        test22Div.textContent = activeTabContent;
      }, 1000);
    });
  </script>
  
  {% schema %}
  {
    "name": "Free Downloads",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "about_company",
        "name": "About Company",
        "settings": [
          {
            "type": "text",
            "id": "trigger",
            "label": "Tab Name"
          }     
        ]
      },
      {
        "type": "visit_showroom",
        "name": "Visit Our Showroom",
        "settings": [
          {
            "type": "text",
            "id": "trigger",
            "label": "Tab Name"
          }
  
        ]
      },
      {
        "type": "company_history",
        "name": "Company History",
        "settings": [
          {
            "type": "text",
            "id": "trigger",
            "label": "Tab Name"
          }
   
        ]
      },
      {
        "type": "meet-our-team",
        "name": "Meet Our Team",
        "settings": [
          {
            "type": "text",
            "id": "trigger",
            "label": "Tab Name"
          }
      
        ]
      },
      {
        "type": "reviews_block",
        "name": "Reviews",
        "settings": [
          {
            "type": "text",
            "id": "trigger",
            "label": "Tab Name"
          }
    
        ]
      },
      {
        "type": "careers_block",
        "name": "Careers",
        "settings": [
          {
            "type": "text",
            "id": "trigger",
            "label": "Tab Name"
          }
     
        ]
      },
      {
        "type": "author",
        "name": "author",
        "settings": [
       
        ]
      },
      {
        "type": "job_offers",
        "name": "Job Offer",
        "settings": [
    
        ]
      },
      {
        "type": "job_responsibilities",
        "name": "Job Responsibilities",
        "settings": [
       
        ]
      }
    ],
    "presets": [
      {
        "name": "Free Downloads"
      }
    ]
  }
  {% endschema %}
  