<section class="image-content{{ section.settings.position_image }} image-content{{ section.settings.background }} image-content_vertical-center-align {{ section.settings.align_content }}">
  <div class="page-width">
    <div class="image-content__wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'media' %}
            {%- if block.settings.image != blank -%}
              <div class="image-content__image">
                <img
                  src="{{ block.settings.image | img_url:  'original'}}"
                  alt="page_image"
                >
              </div>
            {% endif %}
        {% endcase %}
      {% endfor %}

      <div class="image-content__content">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              {%- if block.settings.title != blank -%}
                <h2 class="title" style=" color: {{ block.settings.color_title_label }};">
                  {{ block.settings.title -}}
                </h2>
              {%- endif -%}
            {% when 'description' %}
              {%- if block.settings.description != blank -%}
                <div class="image-content__description" style=" color:{{ block.settings.color_description_label }};">
                  {{ block.settings.description }}
                </div>
              {%- endif -%}
              {% when 'description-list' %}
                {%- if block.settings.description-list != blank -%}
                  <div class="image-content__list" style=" color:{{ block.settings.color_list }};">
                    {{ block.settings.description-list }}
                  </div>
                {%- endif -%}
            {% when 'link' %}
              {%- if block.settings.link_label != blank -%}
                <div class="image-content__wrapper-link">
                  {% render 'icon-pdf' %}
                  <a
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                    style=" color:{{ block.settings.color_link_label }};"
                    
                    class="image-content__link"
                  >
                    {{- block.settings.link_label | escape -}}
                  </a>
                </div>
              {%- endif -%}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "image-content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background",
      "options": [
        {
          "value": "_bg-white",
          "label": "White"
        },
        {
          "value": "base",
          "label": "Base"
        }
      ],
      "default": "_bg-white",
      "label": "background"
    },
    {
      "type": "select",
      "id": "align_content",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "right",
          "label": "right"
        },
        {
          "value": "center",
          "label": "center"
        }
      ],
      "default": "left",
      "label": "align content"
    },
    {
      "type": "select",
      "id": "position_image",
      "options": [
        {
          "value": " ",
          "label": "left"
        },
        {
          "value": "_reverse",
          "label": "right"
        }     
      ],
      "default": " ",
      "label": "Position Image"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color_description_label",
          "label": "Color Description Label",
          "default": "#918677"
        }
      ]
    },
    {
      "type": "description-list",
      "name": "Description list",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description-list",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color_list",
          "label": "Color Description Label",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading_label",
          "label": "Color Heading Label",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color_content_label",
          "label": "Color Content Label",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "label": "link label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "color_link_label",
          "label": "Color Link Label",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "media",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Content"
    }
  ]
}
{% endschema %}
