<section class="image-text image-text{{ section.settings.position_image }}">
  <div class="page-width">
    <div class="image-text__wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'media' %}
            {%- if block.settings.image != blank -%}
              <div class="image-text__image">
                <img
                  src="{{ block.settings.image | img_url:  'original'}}"
                  alt="page_image"
                >
              </div>
            {% endif %}
        {% endcase %}
      {% endfor %}
      <div class="image-text__content">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              {%- if block.settings.title != blank -%}
                <h2 class="title" style=" color:{{ block.settings.color_title_label }}; font-size:{{ block.settings.font_size }}px;">
                  {{ block.settings.title -}}
                </h2>
              {%- endif -%}
            {% when 'heading' %}
              {%- if block.settings.heading != blank -%}
                <h2 class="heading" style=" color: {{ block.settings.color_title_label }}; font-size:{{ block.settings.font_size }}px;">
                  {{ block.settings.heading -}}
                </h2>
              {%- endif -%}
            {% when 'text' %}
              {%- if block.settings.text != blank -%}
                <div class="text" style=" color: {{ block.settings.color_title_label }}; ">
                  {{ block.settings.text -}}
                </div>
              {%- endif -%}
            {% when 'description' %}
              {%- if block.settings.description != blank -%}
                <div class="description" style=" color:{{ block.settings.color_title_label }}; font-size:{{ block.settings.font_size }}px;">
                  {{ block.settings.description -}}
                </div>
              {%- endif -%}
            {% when 'content' %}
              {%- if block.settings.content != blank -%}
                <div class="content" style="color:{{ block.settings.color_title_label }}; font-size:{{ block.settings.font_size }}px !important;">
                  {{ block.settings.content -}}
                </div>
              {%- endif -%}
            {% when 'link' %}
              {%- if block.settings.label_link != blank -%}
                <a 
                  {% if block.settings.link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.link }}"
                  {% endif %}
                  style="font-size:{{ block.settings.font_size }}px;"
                  class="link"
                >
                  {{- block.settings.label_link | escape -}}
                  {% render 'icon-arrow-right' %}
                </a>
              {%- endif -%}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{%- style -%}
  #shopify-section-{{ section.id }} { 
    {% for block in section.blocks %}
          {% case block.type %}
            {% when 'text' %}
    
    .text p {
      font-size:{{ block.settings.font_size }}px;
    }
    {% endcase %}
  {% endfor %}
  }

{%- endstyle -%}

{% schema %}
{
  "name": "image-text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "position_image",
      "options": [
        {
          "value": " ",
          "label": "left"
        },
        {
          "value": "_reverse",
          "label": "right"
        }     
      ],
      "default": " ",
      "label": "Position Image"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#383633"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color_description_label",
          "label": "Color Description Label",
          "default": "#383633"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color_description_label",
          "label": "Color Description Label",
          "default": "#383633"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading_label",
          "label": "Color Heading Label",
          "default": "#383633"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color_content_label",
          "label": "Color Content Label",
          "default": "#383633"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "label_link",
          "label": "label Link"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        }
      ]
    },
    {
      "type": "media",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text"
    }
  ]
}
{% endschema %}
