{%- style -%}
  #shopify-section-{{ section.id }} {
      --color-button-background: {{ block.settings.color_button_backgroun }};
      --color-color-button-label: {{ block.settings.color_button_label }};
      --hover-color-button-background: {{ block.settings.hover_color_button_backgroun }};
      --hover-color-button-label: {{ block.settings.hover_color_button_label }};

  }
{%- endstyle -%}
<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>

{% assign collection = section.settings.section_collection %}
<section class="product-collection">
  <div class="page-width">
    {% if section.settings.section_header != blank %}
    <h2 class="title" style='color: {{section.settings.color_text }}; font-size: {{section.settings.font_size}}px;'>{{section.settings.section_header}}</h2>
    {% endif %}
    <div class="product-collection__wrapper">
      {% for product in collection.products %}
        {% render 'card-product-new', card_product: product %}
      {% endfor %}
    </div>
  </div>
</section>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{% comment %} <script>
  document.addEventListener('DOMContentLoaded', function () {
    function updatePrice(element, dataPrice, elementSum) {
      let quantityInput = Number(element.querySelector('.quantity__input').value);
      let unitPrice = dataPrice;

      if (quantityInput >= 10) {
        unitPrice *= 0.75;
      }

      const formattedNumber = (unitPrice / 100).toFixed(2);
      const [integerPart, decimalPart] = formattedNumber.split('.');

      elementSum.innerHTML = `
            <span class="product-form__price_rcp">     
              $${integerPart}.<sup class="price-cent">${decimalPart}</sup>
            </span>
          `;
    }

    const buttonsWrapper = document.querySelectorAll('.wrapper-baton-and-quantity');

    buttonsWrapper.forEach((element) => {
      const addToCartButton = element.querySelector('.product-form__submit');
      let dataPrice = parseFloat(element.querySelector('.product-form__price').getAttribute('data-price'));
      let quantityButtons = element.querySelectorAll('.quantity__button');
      let dataVariantId = element.querySelector('.product-form__price').getAttribute('data-variant');
      let elementSum = element.querySelector('.product-form__price_rcp');
      let quantityInputElement = element.querySelector('.quantity__input');
      addToCartButton.addEventListener('click', (e) => {
        e.preventDefault();

        let formData = {
          items: [
            {
              id: dataVariantId,
              quantity: quantityInputElement.value,
            },
          ],
        };
        fetch(window.Shopify.routes.root + 'cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(formData),
        })
          .then((response) => {
            return response.json();
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      });

      quantityInputElement.addEventListener('change', () => {
        updatePrice(element, dataPrice, elementSum);
      });

      quantityButtons.forEach((button) => {
        button.addEventListener('click', () => {
          updatePrice(element, dataPrice, elementSum);
        });
      });
    });
  });
</script> {% endcomment %}

{% schema %}
{
  "name": "Individual Collection",
  "settings": [
    {
      "type": "collection",
      "id": "section_collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "section_header",
      "label": "Section Header"
    },
    {
      "type": "text",
      "id": "font_size",
      "label": "Font Size Enter Number"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Color Text Label",
      "default": "#383633"
    }
  ],
  "presets": [
    {
      "name": "Individual Collection"
    }
  ]
}
{% endschema %}
