{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer account section-{{ section.id }}-padding">
  <div>
    <h1 class="customer__title">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}">
      <svg
        class="icon icon-account"
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="24"
        viewBox="0 0 23 24"
        fill="currentColor"
      >
        <path d="M11.174 1.77223C14.1867 1.77223 16.6161 4.16623 16.6161 7.13473C16.6161 9.97648 14.3909 12.2932 11.5593 12.4875C11.3025 12.4782 11.0455 12.4782 10.7888 12.4875C7.95636 12.2932 5.73113 9.97648 5.73113 7.13548C5.73113 4.16623 8.16132 1.77298 11.174 1.77298V1.77223ZM4.69402 7.13473C4.69169 8.32463 5.03002 9.49161 5.67105 10.5048C6.31207 11.518 7.23044 12.3372 8.32313 12.8707C3.96743 14.094 0.770574 18.0495 0.770574 22.7325C0.769102 22.8227 0.792125 22.9116 0.837315 22.9904C0.882504 23.0692 0.948257 23.1349 1.02792 23.181C1.18973 23.274 1.39007 23.274 1.5511 23.181C1.63077 23.1349 1.69652 23.0692 1.74171 22.9904C1.7869 22.9116 1.80992 22.8227 1.80845 22.7325C1.80845 17.76 5.78352 13.716 10.7772 13.512C11.0412 13.5279 11.306 13.5279 11.5701 13.512C16.5637 13.716 20.5365 17.76 20.5365 22.7325C20.535 22.8227 20.5581 22.9116 20.6032 22.9904C20.6484 23.0692 20.7142 23.1349 20.7939 23.181C20.9557 23.274 21.156 23.274 21.317 23.181C21.3967 23.1349 21.4625 23.0692 21.5076 22.9904C21.5528 22.9116 21.5759 22.8227 21.5744 22.7325C21.5744 18.051 18.3798 14.0947 14.0234 12.8715C15.1162 12.3383 16.0348 11.5192 16.6761 10.5061C17.3174 9.49309 17.6561 8.32616 17.654 7.13623C17.654 3.61498 14.7469 0.750732 11.174 0.750732C7.60039 0.750732 4.69402 3.61573 4.69402 7.13623V7.13473Z"/>
        <path d="M11.174 1.77223C14.1867 1.77223 16.6161 4.16623 16.6161 7.13473C16.6161 9.97648 14.3909 12.2932 11.5593 12.4875C11.3025 12.4782 11.0455 12.4782 10.7888 12.4875C7.95636 12.2932 5.73113 9.97648 5.73113 7.13548C5.73113 4.16623 8.16132 1.77298 11.174 1.77298V1.77223ZM4.69402 7.13473C4.69169 8.32462 5.03002 9.49161 5.67105 10.5048C6.31207 11.518 7.23044 12.3372 8.32313 12.8707C3.96743 14.094 0.770574 18.0495 0.770574 22.7325C0.769102 22.8227 0.792125 22.9116 0.837315 22.9904C0.882504 23.0692 0.948257 23.1349 1.02792 23.181C1.18973 23.274 1.39007 23.274 1.5511 23.181C1.63077 23.1349 1.69652 23.0692 1.74171 22.9904C1.7869 22.9116 1.80992 22.8227 1.80845 22.7325C1.80845 17.76 5.78352 13.716 10.7772 13.512C11.0412 13.5279 11.306 13.5279 11.5701 13.512C16.5637 13.716 20.5365 17.76 20.5365 22.7325C20.535 22.8227 20.5581 22.9116 20.6032 22.9904C20.6484 23.0692 20.7142 23.1349 20.7939 23.181C20.9557 23.274 21.156 23.274 21.317 23.181C21.3967 23.1349 21.4624 23.0692 21.5076 22.9904C21.5528 22.9116 21.5759 22.8227 21.5744 22.7325C21.5744 18.051 18.3798 14.0947 14.0234 12.8715C15.1162 12.3383 16.0348 11.5192 16.6761 10.5061C17.3174 9.49309 17.6561 8.32616 17.654 7.13623C17.654 3.61498 14.7469 0.750732 11.174 0.750732C7.60039 0.750732 4.69402 3.61573 4.69402 7.13623V7.13473Z" stroke="currentColor" stroke-width="0.7" stroke-miterlimit="20"/>
      </svg>
      {{ 'customer.log_out' | t }}
    </a>
  </div>

  <div>
    <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">
              {{ 'customer.orders.title' | t }}
            </caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">
                  {{ 'customer.orders.fulfillment_status' | t }}
                </th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td
                    headers="RowOrder ColumnPayment"
                    role="cell"
                    data-label="{{ 'customer.orders.payment_status' | t }}"
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnFulfillment"
                    role="cell"
                    data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                  >
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
