{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}

<section class="section-tab">
  <div class="page-width">
    <button type="button" class="tab-trigger">{{ section.settings.trigger }}</button>

    <div class="heading-wrapper">
      {%- if section.settings.title != blank -%}
        <h2
          class="title"
          style=" color: {{ section.settings.color_title }}; font-size: {{section.settings.font_size}}px;"
        >
          {{ section.settings.title -}}
        </h2>
      {%- endif -%}
      {%- if section.settings.sub_title != blank -%}
        <div
          class="sub-title"
          style=" color: {{ section.settings.color_sub_title }}; font-size: {{section.settings.font_size1}}px;"
        >
          {{ section.settings.sub_title -}}
        </div>
      {%- endif -%}
    </div>
    <div class="section-tab__wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'media' %}
            <div class="image-and-title">
              {%- if block.settings.image != blank -%}
                <div class="section-tab__image">
                  <img
                    src="{{ block.settings.image | img_url:  'original'}}"
                    alt=""
                  >
                </div>
              {% endif %}
              <div class="section-tab__title-wrapper">
                {%- if block.settings.title != blank -%}
                  <div
                    class="title"
                    style=" color: {{ section.settings.color_title }}; font-size: {{block.settings.font_size}}px;"
                  >
                    {{ block.settings.title }}
                  </div>
                {% endif %}
                {%- if block.settings.content != blank -%}
                  <div
                    class="content"
                    style=" color: {{ section.settings.color_content }}; font-size: {{block.settings.font_size1}}px;"
                  >
                    {{ block.settings.content }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% when 'collapsible_row' %}
            <div
              class="accordion content-container{% if block.settings.mobile_hide == true  %} mobile-hide{% endif %}"
              {{ block.shopify_attributes }}
            >
              <details
                class="details-custom"
                id="Details-{{ block.id }}-{{ section.id }}"
                {% if section.settings.open_first_collapsible_row and forloop.first %}
                  open
                {% endif %}
              >
                <summary id="Summary-{{ block.id }}-{{ section.id }}" class="summary-custom">
                  {% render 'icon-accordion', icon: block.settings.icon %}
                  <h3 class="accordion__title inline-richtext h4" style="font-size: {{block.settings.font_size}}px;">
                    {{ block.settings.heading | default: block.settings.page.title }}
                  </h3>
                  {% render 'icon-plus-custom' %}
                  {% render 'icon-minus-custom' %}
                </summary>
                <div
                  class="accordion__content rte"
                  id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
                  role="region"
                  aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
                  style="font-size: {{block.settings.font_size1}}px;"
                >
                  {{ block.settings.row_content }}
                  {% comment %}  {% endcomment %}
                  {%- if block.settings.first_label != blank -%}
                    <div class="wrapper-link">
                      {% render 'icon-pdf' %}
                      <a
                        {% if block.settings.first_link == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.first_link }}"
                        {% endif %}
                        class="link"
                        style="font-size: {{block.settings.font_size2}}px;"
                      >
                        {{- block.settings.first_label | escape -}}
                      </a>
                    </div>
                  {%- endif -%}
                  {% comment %}  {% endcomment %}
                  {%- if block.settings.second_label != blank -%}
                    <div class="wrapper-link">
                      {% render 'icon-pdf' %}
                      <a
                        {% if block.settings.second_link == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.second_link }}"
                        {% endif %}
                        class="link"
                        style="font-size: {{block.settings.font_size3}}px;"
                      >
                        {{- block.settings.second_label | escape -}}
                      </a>
                    </div>
                  {%- endif -%}
                  {% comment %}  {% endcomment %}
                  {%- if block.settings.third_label != blank -%}
                    <div class="wrapper-link">
                      {% render 'icon-pdf' %}
                      <a
                        {% if block.settings.third_link == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.third_link }}"
                        {% endif %}
                        class="link"
                        style="font-size: {{block.settings.font_size4}}px;"
                      >
                        {{- block.settings.third_label | escape -}}
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </details>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>
{%- style -%}
    #shopify-section-{{ section.id }} {
      .tab-trigger{
        font-size: {{section.settings.font_size}}px !important;
      }
    }
{%- endstyle -%}

{% schema %}
{
  "name": "Section For Tabs",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "trigger",
      "label": "Tab Name"
    },
    {
      "type": "text",
      "id": "font_size",
      "label": "Font Size Enter Number"
    }
  ],
  "blocks": [
    {
      "type": "media",
      "name": "Image and Title",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title",
          "default": "#383633"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "font_size1",
          "label": "Font Size Enter Number"
        },
        {
          "type": "color",
          "id": "color_content",
          "label": "Color Content",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible_content.blocks.collapsible_row.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "mobile_hide",
          "default": false,
          "label": "Mobile Hide"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
          "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
        },
        {
          "type": "text",
          "id": "font_size1",
          "label": "Font Size Enter Number"
        },
        {
          "type": "text",
          "id": "first_label",
          "label": "label First Link"
        },
        {
          "type": "text",
          "id": "font_size2",
          "label": "Font Size Enter Number"
        },
        {
          "type": "url",
          "id": "first_link",
          "label": "First Link"
        },
        {
          "type": "text",
          "id": "second_label",
          "label": "label Second Link"
        },
        {
          "type": "text",
          "id": "font_size3",
          "label": "Font Size Enter Number"
        },
        {
          "type": "url",
          "id": "second_link",
          "label": "Second Link"
        },
        {
          "type": "text",
          "id": "third_label",
          "label": "label Third Link"
        },
        {
          "type": "text",
          "id": "font_size4",
          "label": "Font Size Enter Number"
        },
        {
          "type": "url",
          "id": "third_link",
          "label": "Third Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section For Tabs"
    }
  ]
}
{% endschema %}
