{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign video_idd = section.settings.video_url.id

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: section.settings.video_url.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}
<section class="video-text video-text{{ section.settings.position }}">
  <div class="page-width">
    <div class="video-text__wrapper">
      <div class="video-text__media">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'media' -%}
              <div
                class="video-wrapper"
                data-video-url="{{ block.settings.video_url.id }}"
              >
                <div class="video-wrapper_box">
                  {%- if block.settings.image_video != blank -%}
                    <img
                      src="{{ block.settings.image_video | img_url: 'original' }}"
                      alt="image"
                      class="image-video"
                    >
                  {%- endif -%}
                  {% if block.settings.image_youtube != blank %}
                    <img
                      src="{{ block.settings.image_youtube | img_url: 'original' }}"
                      alt="image"
                      class="image-youtube"
                      onclick="showPopup(this.closest('[data-video-url]').dataset.videoUrl)"
                    >
                  {% endif %}
                </div>
              </div>
              <div class="popup-video" id="popup">
                <span class="close" onclick="closePopup()">{% render 'icon-close-black' %}</span>
                <div id="videoContainer" class="video-container"></div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="video-text__content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'content' -%}
              {% if block.settings.title != blank %}
                <h2 class="title" style=" color: {{ block.settings.color_title_label }};">
                  {{ block.settings.title }}
                </h2>
              {% endif %}
              {% if block.settings.sub_title != blank %}
                <p class="video-text__sub-title" style=" color: {{ block.settings.color_sub_title }};">
                  {{ block.settings.sub_title }}
                </p>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<script src="{{ 'popup-video.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "video-and-content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": " ",
          "label": "left"
        },
        {
          "value": "_reverse",
          "label": "right"
        }
      ],
      "default": "_reverse",
      "label": "Position Media"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#383633"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "color",
          "id": "color_sub_title",
          "label": "Color Sub Title",
          "default": "#918677"
        }
      ]
    },
    {
      "type": "media",
      "name": "media",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_video",
          "label": "Video Image"
        },
        {
          "type": "image_picker",
          "id": "image_youtube",
          "label": "Youtube Icon"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video And Content"
    }
  ]
}
{% endschema %}
