---
pageTitle: About
---

<link rel="stylesheet" href="{{root}}assets/css/image-content.css">
<section class="image-content image-content_bg-white image-content_vertical-center-align">
	<div class="inner">
		<div class="image-content__wrapper">
			<div class="image-content__image">
				<img src="{{root}}assets/images/about-1.jpg" alt="">
			</div>
			<div class="image-content__content">
				<h2 class="title">Why <span class="italic">We Exist</span></h2>
				<p class="image-content__description">Lead to win exists to gather, coach, and equip leaders<br> to win in
					the areas that matter most.</p>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/image-text.css">
<section class="image-text image-text_reverse">
	<div class="inner">
		<div class="image-text__wrapper">
			<div class="image-text__image">
				<img src="{{root}}assets/images/about-jeff-little.jpg" alt="">
			</div>
			<div class="image-text__content">
				<h2 class="title">About <span class="italic">Jeff&nbsp;&nbsp;</span> Little</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
					accumsan lacus vel facilisis. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
					accumsan lacus vel facilisis.</p>
				<a href="#" class="link">Read more
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
					     fill="currentColor">
						<path d="M5 11.825L8.7085 8L5 4.175L6.1417 3L11 8L6.1417 13L5 11.825Z"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/speaking-request.css">
<section class="speaking-request">
	<div class="inner">
		<div class="speaking-request__wrapper">
			<div class="speaking-request__image">
				<img src="{{root}}assets/images/about-2.jpg" alt="">
			</div>
			<div class="speaking-request__content">
				<h2 class="title">Speaking Request</h2>
			</div>
		</div>
	</div>
</section>
