---
pageTitle: Assimilation & Growth Track
---

<link rel="stylesheet" href="{{root}}assets/css/banner.css">
<section class="banner">
	<img class="object-fit object-fit-cover" src="{{root}}assets/images/way-to-win-banner.jpg" alt="">
	<div class="inner">
		<h1 class="banner__title">Assimilation & Growth Track</h1>
		<p>Lorem ipsum dolor sit amet consectetur. Praesent vel tincidunt tellus duis lacinia sapien semper. </p>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/page-navigation.css">
<section class="page-navigation">
	<div class="inner">
		<ul class="page-navigation__wrapper">
			<li class="page-navigation__item">
				<a class="page-navigation__link" href="#overview">Overview</a>
			</li>
			<li class="page-navigation__item">
				<a class="page-navigation__link" href="#discovery-101">Discovery 101</a>
			</li>
			<li class="page-navigation__item">
				<a class="page-navigation__link" href="#serve-team-201">Serve Team 201</a>
			</li>
			<li class="page-navigation__item">
				<a class="page-navigation__link" href="#values-301">Values 301</a>
			</li>
			<li class="page-navigation__item">
				<a class="page-navigation__link" href="#storytelling">Storytelling</a>
			</li>
			<li class="page-navigation__item">
				<a class="page-navigation__link" href="#section-faq">FAQ</a>
			</li>
		</ul>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/image-content.css">
<section class="image-content" id="overview">
	<div class="inner">
		<div class="image-content__wrapper">
			<div class="image-content__image">
				<img src="{{root}}assets/images/way-to-win.jpg" alt="">
			</div>
			<div class="image-content__content">
				<h2 class="title">Overview</h2>
				<p>A Growth Track provides a clear path to connect people to the vision and mission of your church. Each
					of the three classes below are designed to help people take a next step to grow in their faith,
					learn about the values of our church, and make friends with others who are new to our
					environment.</p>
				<ul class="image-content__links">
					<li><a class="image-content__download-link" href="#">Overview of the Growth Track</a></li>
					<li><a class="image-content__download-link" href="#">Growth Track Board</a></li>
					<li>
						<a class="image-content__link" href="#">People Board Shopping List
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
							     fill="currentColor">
								<path d="M5 11.825L8.7085 8L5 4.175L6.1417 3L11 8L6.1417 13L5 11.825Z"/>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="image-content image-content_bg-white image-content_reverse" id="discovery-101">
	<div class="inner">
		<div class="image-content__wrapper">
			<div class="image-content__image">
				<img src="{{root}}assets/images/way-to-win.jpg" alt="">
			</div>
			<div class="image-content__content">
				<h2 class="title">Discovery 101</h2>
				<p>The first step in the Growth Track, this two hour luncheon hosted every month where our lead pastor
					shares the story, heart and vision of Milestone Church.</p>
				<h3 class="image-content__sub-title">The class outline comprises of:</h3>
				<ul class="image-content__ul">
					<li>The Gospel Message</li>
					<li>Our Mission (Vision, Beliefs, Values and DNA)</li>
					<li>Our Values (Includes Strategies: Weekends Service, Small Groups, Growth Track and Serve Team)
					</li>
					<li>Our Structure (how our church is structured and what it means to be a member)</li>
				</ul>
				<p><i>The participants are given an opportunity to join, but it’s not required or expected for
					attending.</i></p>
				<ul class="image-content__links">
					<li><a class="image-content__download-link" href="#">Membership Agreement</a></li>
					<li><a class="image-content__download-link" href="#">Discovery 101 Booklet</a></li>
					<li><a class="image-content__download-link" href="#">101 Connector Notes</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="image-content" id="serve-team-201">
	<div class="inner">
		<div class="image-content__wrapper">
			<div class="image-content__image">
				<img src="{{root}}assets/images/way-to-win.jpg" alt="">
			</div>
			<div class="image-content__content">
				<h2 class="title">Serve Team 201</h2>
				<p>The second step in the Growth Track, this 90 minute class allows people to hear from our pastoral
					team, discover their unique spiritual gifts with a personal assessment, learn about the ministries
					they can serve with and meet the ministry leaders.</p>
				<ul class="image-content__links">
					<li><a class="image-content__download-link" href="#">Serve Team 201 Booklet</a></li>
					<li><a class="image-content__download-link" href="#">Serve Team 201 Form</a></li>
					<li><a class="image-content__download-link" href="#">Volunteer Application</a></li>
					<li><a class="image-content__download-link" href="#">201 Connector Notes</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="image-content image-content_bg-white image-content_reverse" id="values-301">
	<div class="inner">
		<div class="image-content__wrapper">
			<div class="image-content__image">
				<img src="{{root}}assets/images/way-to-win.jpg" alt="">
			</div>
			<div class="image-content__content">
				<h2 class="title">Values 301</h2>
				<p>his 7-week class is designed to help members connect with others, grow spiritually and learn more
					about the core values that form the culture of our church in one of our most engaging environments.
					Each week consists of a fun game, teaching time led by a pastor, and an engaging volunteer-led small
					group experience.</p>
				<h3 class="image-content__sub-title">Topics we cover:</h3>
				<ul class="image-content__ul image-content__ul_two-columns">
					<li>Spiritual Family</li>
					<li>Salvation and Water Baptism</li>
					<li>Missional Living</li>
					<li>The Baptism with the Holy Spirit</li>
					<li>The Bible</li>
					<li>Generosity</li>
					<li>Development</li>
				</ul>
				<ul class="image-content__links">
					<li><a class="image-content__download-link" href="#">Values 301 Booklet</a></li>
					<li><a class="image-content__download-link" href="#">301 Next Step Card – Leader</a></li>
					<li><a class="image-content__download-link" href="#">301 Next Step Card – Participant</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="image-content" id="storytelling">
	<div class="inner">
		<div class="image-content__wrapper">
			<div class="image-content__image">
				<img src="{{root}}assets/images/way-to-win.jpg" alt="">
			</div>
			<div class="image-content__content">
				<h2 class="title">Storytelling</h2>
				<p>We equip our leaders in each Growth Track setting to connect with people and make notes on the
					conversations they had, and to share stories they hear along the way. We use those notes to help
					each person take a next step and to tailor each step to help them find relationships they can retain
					long after the classes are over.</p>
				<p>We also use impactful stories we hear to show our church what God is doing in this area of the church
					and to encourage more people to engage.</p>
				<ul class="image-content__links">
					<li><a class="image-content__download-link" href="#">101 Connector Notes</a></li>
					<li><a class="image-content__download-link" href="#">201 Connector Notes</a></li>
					<li><a class="image-content__download-link" href="#">301 Next Step Card – Leader</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/section-faq.css">
<section class="section-faq" id="section-faq">
	<div class="inner">
		<div class="section-faq__wrapper">
			<h2 class="title">Frequently Asked Questions</h2>
		</div>
	</div>
</section>
