<footer class="footer">
	<div class="page-width">
		<div class="footer__top">
			<div class="footer__menu-wrapper">
				<div class="footer__block">
					<ul class="footer-menu">
						<li class="menu-item"><a class="link" href="#">ABOUT</a></li>
						<li class="menu-item"><a class="link" href="#">FAQ</a></li>
						<li class="menu-item"><a class="link" href="#">Contact</a></li>
						<li class="menu-item"><a class="link" href="#">Speaker Request</a></li>
					</ul>
				</div>
				<div class="footer__block">
					<ul class="footer-menu">
						<li class="menu-item has-sub-menu">
							<a class="link" href="#">GATHERINGS</a>
							<ul class="footer-menu__sub-menu">
								<li class="menu-item">
									<a class="link" href="#">Leaders Gathering</a>
								</li>
							</ul>
						</li>
						<li class="menu-item has-sub-menu">
							<a class="link" href="#">Coaching</a>
							<ul class="footer-menu__sub-menu">
								<li class="menu-item">
									<a class="link" href="#">The Way to Win Intensive</a>
								</li>
								<li class="menu-item">
									<a class="link" href="#">Lead Pastor Coaching</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="footer__block">
					<ul class="footer-menu">
						<li class="menu-item has-sub-menu">
							<a class="link" href="#">RESOURCES</a>
							<ul class="footer-menu__sub-menu">
								<li class="menu-item"><a class="link" href="#">Books & Study Guides</a></li>
								<li class="menu-item"><a class="link" href="#">Campaigns</a></li>
								<li class="menu-item"><a class="link" href="#">Free Downloads</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__content">
				<div class="footer__logo"><img src="{{root}}assets/images/logo.png" alt=""></div>
				<div class="social-links">
					<a class="social-links__link" href="#">
						<img class="icon-color" src="{{root}}assets/images/social-icons/youtube-color.svg" alt="" aria-hidden="true">
						<img src="{{root}}assets/images/social-icons/youtube.svg" alt="" aria-hidden="true">
						<span class="screen-reader-text">YouTube</span>
					</a>
					<a class="social-links__link" href="#">
						<img class=" icon-color" src="{{root}}assets/images/social-icons/instagram-color.svg" alt="" aria-hidden="true">
						<img src="{{root}}assets/images/social-icons/instagram.svg" alt="" aria-hidden="true">
						<span class="screen-reader-text">Instagram</span>
					</a>
					<a class="social-links__link" href="#">
						<img class="icon-color" src="{{root}}assets/images/social-icons/facebook-color.svg" alt="" aria-hidden="true">
						<img src="{{root}}assets/images/social-icons/facebook.svg" alt="" aria-hidden="true">
						<span class="screen-reader-text">Facebook</span>
					</a>
					<a class="social-links__link" href="#">
						<img class="icon-color" src="{{root}}assets/images/social-icons/linkedin-color.svg" alt="" aria-hidden="true">
						<img src="{{root}}assets/images/social-icons/linkedin.svg" alt="" aria-hidden="true">
						<span class="screen-reader-text">LinkedIn</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__wrapper">
				<p class="footer__copyright">© Copyright 2023 Lead To Win. All Rights Reserved.</p>
				<div class="footer-links">
					<ul class="footer-links__items">
						<li class="footer-links__item">
							<a href="#" class="footer-links__link">Terms of Use</a>
						</li>
						<li class="footer-links__item">
							<a href="#" class="footer-links__link">Privacy Policy</a>
						</li>
						<li class="footer-links__item">
							<a href="#" class="footer-links__link">Site Map</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__by">
				<a class="footer__by-link" href="https://www.webloftdesigns.com/">Dallas and Plano Web Design Agency:
					<span class="page-footer__by-name">Web Loft Designs</span></a>

			</div>
		</div>
	</div>
</footer>
