---
pageTitle: Home page
bodyClass: home-page
---

<link rel="stylesheet" href="{{root}}assets/css/home-page-banner.css">
<section class="home-page-banner">
	<img class="object-fit object-fit-cover" src="{{root}}assets/images/home-page-banner.jpg" alt="">
	<img class="object-fit object-fit-cover mobile" src="{{root}}assets/images/home-page-banner-mobile.jpg" alt="">
	<div class="inner">
		<h1 class="home-page-banner__title">Coaching &<br>
			<span class="round-stroke">Development</span><br>
			in <span class="italic">Life</span> & <span class="italic">Faith</span></h1>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/quote.css">
<section class="quote">
	<div class="inner">
		<h2 class="quote__title"><span class="round-stroke">Lead to Win</span> exists to equip and challenge you in the
			areas that matter most.</h2>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/single-review.css">
<section class="single-review">
	<div class="inner">
		<div class="single-review__wrapper">
			<div class="single-review__avatar">
				<img src="{{root}}assets/images/avatar.png" alt="">
			</div>
			<div class="single-review__content">
				<h2 class="single-review__name">Chris Hodges</h2>
				<h3 class="single-review__position">Church of the Highlands</h3>
				<p>Lorem ipsum dolor sit amet consectetur. Odio volutpat massa id neque et. Facilisi et in lobortis
					facilisi. Sed elementum pharetra nisl ultrices tristique nulla eu. </p>
				<p>Odio volutpat massa id neque et. Facilisi et in lobortis facilisi. Sed elementum pharetra nisl
					ultrices tristique nulla eu. </p>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/services.css">
<section class="services">
	<div class="inner">
		<div class="services__wrapper">
			<div class="services__item">
				<img src="{{root}}assets/images/services-1.svg" alt="">
				<h2 class="services__title">Gatherings</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
				<p><a href="#" class="btn">Learn More</a></p>
			</div>
			<div class="services__item">
				<img src="{{root}}assets/images/services-2.svg" alt="">
				<h2 class="services__title">Coaching</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
				<p><a href="#" class="btn">Learn More</a></p>
			</div>
			<div class="services__item">
				<img src="{{root}}assets/images/services-3.svg" alt="">
				<h2 class="services__title">Resources</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
				<p><a href="#" class="btn">Learn More</a></p>
			</div>
			<div class="services__item">
				<img src="{{root}}assets/images/services-3.svg" alt="">
				<h2 class="services__title">Resources</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
				<p><a href="#" class="btn">Learn More</a></p>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/image-text.css">
<section class="image-text">
	<div class="inner">
		<div class="image-text__wrapper">
			<div class="image-text__image">
				<img src="{{root}}assets/images/about-jeff-little.jpg" alt="">
			</div>
			<div class="image-text__content">
				<h2 class="title">About <span class="italic">Jeff&nbsp;&nbsp;</span> Little</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
					accumsan lacus vel facilisis. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
					accumsan lacus vel facilisis.</p>
				<a href="#" class="link">Read more
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
						<path d="M5 11.825L8.7085 8L5 4.175L6.1417 3L11 8L6.1417 13L5 11.825Z"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>
