---
pageTitle: Leaders Gathering
---

<link rel="stylesheet" href="{{root}}assets/css/leaders-gathering.css">
<section class="leaders-gathering">
	<div class="inner">
		<div class="leaders-gathering__legend">
			<p>2024</p>
			<span class="line"></span>
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
				<path d="M17.4935 0.0160499C17.9506 2.75026 18.4065 5.86164 18.8624 8.50758H13.3117C13.7709 5.85591 14.2268 2.7365 14.6849 0C6.46377 0.706194 0 7.95844 0 16.7996C0 23.4959 3.70524 29.2795 9.0743 32C9.50957 29.698 9.94593 28.0173 10.3812 25.4906H21.794C22.2227 27.9852 22.6537 29.6579 23.0846 31.9175C28.3677 29.1649 32 23.4294 32 16.7996C32.0011 8.02149 25.6298 0.810518 17.4935 0.0160499ZM11.0929 21.3681C11.5956 18.4539 12.0994 15.5432 12.6011 12.629H19.5752C20.0769 15.5432 20.5785 18.4562 21.0812 21.3681H11.0929Z" fill="#383633"/>
			</svg>
		</div>
		<h1 class="leaders-gathering__title">
			<img src="{{root}}assets/images/leaders-gathering.png" alt="">
			<span class="screen-reader-text">Leaders Gathering</span>
		</h1>
		<div class="leaders-gathering__text">
			<p>Tuesday, January 9</p>
			<p>Milestone Church</p>
		</div>
		<div class="leaders-gathering__wrapper">
			<div class="leaders-gathering__item">
				<img src="{{root}}assets/images/leaders-gathering-1.svg" alt="">
				<h3><a href="#">Campaigns</a></h3>
			</div>
			<div class="leaders-gathering__item">
				<img src="{{root}}assets/images/leaders-gathering-2.svg" alt="">
				<h3><a href="#">Breakout Session Slide Decks & Free Resources</a></h3>
			</div>
			<div class="leaders-gathering__item">
				<img src="{{root}}assets/images/leaders-gathering-3.svg" alt="">
				<h3><a href="#">Books & Study Guides</a></h3>
			</div>
		</div>
	</div>
</section>

<section class="leaders-gathering leaders-gathering_dark">
	<div class="inner">
		<h2 class="leaders-gathering__title">
			<img src="{{root}}assets/images/leaders-gathering-dark.png" alt="">
			<span class="leaders-gathering__caption">Mark your calendar<br> for next year!</span>
		</h2>
		<div class="leaders-gathering__text">
			<p>Tuesday, January 7</p>
			<p>Milestone Church</p>
		</div>
	</div>
</section>
