---
pageTitle: Seeds
---

<link rel="stylesheet" href="{{root}}assets/css/content-overview.css">
<section class="content-overview">
	<div class="page-width">
		<div class="content-overview__wrapper">
			<div class="content-overview__left">
				<h2 class="title">Message content overview</h2>
				<p class="content-overview__sub-title">This 8 week campaign includes two intro weeks to generate excitement
					about the series and provide time for people to join a small group.</p>
			</div>
			<div class="content-overview__right">
				<div class="content-overview__item">
					<div class="content-overview__label">INTRO one</div>
					<div class="content-overview__item-content">
						<h3 class="content-overview__item-title">POTENTIAL</h3>
						<p>Realizing our potential</p>
					</div>
				</div>
				<div class="content-overview__item">
					<div class="content-overview__label">INTRO two</div>
					<div class="content-overview__item-content">
						<h3 class="content-overview__item-title">PROCESS</h3>
						<p>Creating a healthy environment to hear from God</p>
					</div>
				</div>
				<div class="content-overview__item">
					<div class="content-overview__label">WEEK ONE</div>
					<div class="content-overview__item-content">
						<h3 class="content-overview__item-title">RESISTANCE</h3>
						<p>Handling adversity</p>
					</div>
				</div>
				<div class="content-overview__item">
					<div class="content-overview__label">WEEK two</div>
					<div class="content-overview__item-content">
						<h3 class="content-overview__item-title">FAITH</h3>
						<p>Growing in faith</p>
					</div>
				</div>
				<div class="content-overview__item">
					<div class="content-overview__label">WEEK two</div>
					<div class="content-overview__item-content">
						<h3 class="content-overview__item-title">MOMENTUM</h3>
						<p>Three questions to ask about sowing and reaping</p>
					</div>
				</div>
				<div class="content-overview__item">
					<div class="content-overview__label">WEEK FOUR</div>
					<div class="content-overview__item-content">
						<h3 class="content-overview__item-title">TRANSFORMATION</h3>
						<p>Walking in your new nature</p>
					</div>
				</div>
				<div class="content-overview__item">
					<div class="content-overview__label">WEEk FIVE</div>
					<div class="content-overview__item-content">
						<h3 class="content-overview__item-title">MULTIPLICATION</h3>
						<p>Generosity and multiplication</p>
					</div>
				</div>
				<div class="content-overview__item">
					<div class="content-overview__label">WEEk six</div>
					<div class="content-overview__item-content">
						<h3 class="content-overview__item-title">LEGACY</h3>
						<p>Leaving a legacy</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/single-video.css">
<section class="single-video">
	<div class="page-width">
		<h2 class="screen-reader-text">Seeds tomorrow starts today</h2>
		<div class="single-video__logo">
			<img src="{{root}}assets/images/seeds-logo.png" alt="">
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/video-text.css">
<link rel="stylesheet" href="{{root}}assets/css/popup-video.css">
<section class="video-text">
	<div class="page-width">
		<div class="video-text__wrapper">
			<div class="video-text__media">
				<div class="video-wrapper" data-video-url="_9VUPq3SxOc">
					<div class="video-wrapper_box">
						<img src="{{root}}assets/images/video-poster-1.jpg"
						     alt="image" class="image-video">
						<img src="//leadtowin.com/cdn/shop/files/fi_1384060_1024x1024.png?v=1704319203"
						     alt="image" class="image-youtube"
						     onclick="">
					</div>
				</div>
			</div>
			<div class="video-text__content">
				<h2 class="title">Message Bumper</h2>
				<p class="video-text__sub-title">Lorem ipsum dolor sit amet consectetur. Gravida sed turpis lorem et
					auctor. Vel vehicula eu nec laoreet laoreet elementum arcu rhoncus aliquam.</p>
			</div>
		</div>
	</div>
</section>

<section class="video-text video-text_reverse">
	<div class="page-width">
		<div class="video-text__wrapper">
			<div class="video-text__media">
				<div class="video-wrapper" data-video-url="_9VUPq3SxOc">
					<div class="video-wrapper_box">
						<img src="{{root}}assets/images/video-poster-2.jpg"
						     alt="image" class="image-video">
						<img src="//leadtowin.com/cdn/shop/files/fi_1384060_1024x1024.png?v=1704319203"
						     alt="image" class="image-youtube"
						     onclick="">
					</div>
				</div>
			</div>
			<div class="video-text__content">
				<h2 class="title">Kids Song & Lyric</h2>
				<p class="video-text__sub-title">Lorem ipsum dolor sit amet consectetur. Gravida sed turpis lorem et
					auctor. Vel vehicula eu nec laoreet laoreet elementum arcu rhoncus aliquam.</p>
			</div>
		</div>
	</div>
</section>
