---
pageTitle: The Way to Win
---

<link rel="stylesheet" href="{{root}}assets/css/banner.css">
<section class="banner banner_large">
	<img class="object-fit object-fit-cover" src="{{root}}assets/images/way-to-win-banner.jpg" alt="">
	<div class="page-width">
		<div class="banner__logo">
			<img src="{{root}}assets/images/way-to-win-logo.png" alt="">
		</div>
		<h1 class="screen-reader-text">The Way to Win</h1>
		<p>Coaching & Developing MEN
			IN MATTERS OF Life & Faith</p>
		<div class="banner__btn">
			<a class="btn" href="#">Buy The Book</a>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/quote-with-avatar.css">
<section class="quote-with-avatar">
	<div class="page-width">
		<div class="quote-with-avatar__wrapper">
			<div class="quote-with-avatar__avatar">
				<img src="{{root}}assets/images/quote-with-avatar.png" alt="">
				<span class="quote-with-avatar__quotes">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<path
						d="M13.5 13.5V3H24V13.65C24 20.85 17.25 21.75 17.25 21.75L16.35 19.65C16.35 19.65 19.35 19.2 19.95 16.8C20.55 15 19.35 13.5 19.35 13.5H13.5Z"
						fill="#342663"/>
					<path
						d="M0 13.5V3H10.5V13.65C10.5 20.85 3.75 21.75 3.75 21.75L2.85 19.65C2.85 19.65 5.85 19.2 6.45 16.8C7.05 15 5.85 13.5 5.85 13.5H0Z"
						fill="#342663"/>
					</svg>
				</span>
			</div>
			<p class="quote-with-avatar__author">FOREWORD BY JOHN MAXWELL</p>
			<p class="quote-with-avatar__text">"Closing the gap between information and action is challenging in every
				setting, but this is especially difficult for men in the Church. They know they’re supposed to
				participate, but they don’t know what to do. They know what to do at work, they know what to do in the
				gym, they know what to do when they’re spending the weekend on their hobbies…but they desperately need
				practical help in matters of life and faith. As coaches, our job is to prepare and inspire people to
				succeed in whatever they set their hands to."</p>
			<div class="quote-with-avatar__logo">
				<svg xmlns="http://www.w3.org/2000/svg" width="237" height="224" viewBox="0 0 237 224" fill="none">
					<path opacity="0.2"
					      d="M129.561 0.112349C132.946 19.2518 136.323 41.0315 139.7 59.553H98.5895C101.991 40.9914 105.367 19.1555 108.76 0C47.8723 4.94336 0 55.7091 0 117.597C0 164.471 27.4419 204.957 67.2066 224C70.4303 207.886 73.6621 196.121 76.8858 178.434H161.412C164.587 195.897 167.779 207.605 170.97 223.422C210.098 204.154 237 164.006 237 117.597C237.008 56.1505 189.821 5.67363 129.561 0.112349ZM82.1566 149.577C85.88 129.177 89.6114 108.802 93.3268 88.4027H144.979C148.694 108.802 152.41 129.193 156.133 149.577H82.1566Z"
					      fill="url(#paint0_linear_245_1722)"/>
					<defs>
						<linearGradient id="paint0_linear_245_1722" x1="118.5" y1="0" x2="118.5" y2="224"
						                gradientUnits="userSpaceOnUse">
							<stop stop-color="#E5BE5E"/>
							<stop offset="1" stop-color="#E5BE5E" stop-opacity="0"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/single-product.css">
<section class="single-product">
	<div class="page-width">
		<div class="product">
			<div class="product__info-wrapper">
				<product-info class="product__info-container">
					<h2 class="custom-featured-product__heading">GROWTH AND DEVELOPMENT GUIDE FOR MEN
					</h2>
					<div class="custom-featured-product__description">
						<ul>
							<li>Coaching for personal, spiritual, and professional areas of life
							</li>
							<li>Concise and practical chapters</li>
							<li>Helpful questions and leadership challenges</li>
							<li>Great for groups or the individual reader</li>
						</ul>
					</div>
					<div class="no-js-hidden"
					     id="price-template--21728198033684__d6aa3b46-a6b4-406f-99f6-bdec74a5de4a"
					     role="status">
						<div class="price price--large price--show-badge">
							<div class="price__container">
								<div class="price__regular">
									<span class="visually-hidden visually-hidden--inline">Regular price</span>
									<span class="price-item price-item--regular">$19.<span
										class="price-cent">99</span></span>
								</div>
								<div class="price__sale">
									<span class="visually-hidden visually-hidden--inline">Regular price</span>
									<span><s class="price-item price-item--regular"></s></span>
									<span class="visually-hidden visually-hidden--inline">Sale price</span>
									<span class="price-item price-item--sale price-item--last">$19</span>
								</div>
								<small class="unit-price caption hidden">
									<span class="visually-hidden">Unit price</span>
									<span class="price-item price-item--last">
									        <span></span>
									        <span aria-hidden="true">/</span>
									        <span class="visually-hidden">&nbsp;per&nbsp;</span>
									        <span></span>
								        </span>
								</small>
							</div>
							<span class="badge price__badge-sale color-background-1">Sale</span>
							<span class="badge price__badge-sold-out color-background-1">Sold out</span>
						</div>
					</div>
					<div>
						<form method="post" action="#" id="#" class="shopify-product-form"
						      enctype="multipart/form-data">
							<input type="hidden" name="form_type" value="product">
							<input type="hidden" name="utf8" value="✓">
							<input type="hidden" name="id" value="46500533862676">
							<input type="hidden" name="product-id" value="8580849565972">
						</form>
					</div>
					<div class="custom-featured-product__content">
						<p>25% discount when you buy 10 or more books</p>
					</div>
					<div class="wrapper-button-and-quantity">
						<div class="product-form__input product-form__quantity">
							<label class="quantity__label form__label" for="Quantity-template">
								Quantity
								<span class="quantity__rules-cart no-js-hidden hidden">
										<link
											href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-loading-spinner.css?v=116724955567955766481702562835"
											rel="stylesheet" type="text/css" media="all">

										<div class="loading__spinner hidden">
										  <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66"
										       xmlns="http://www.w3.org/2000/svg">
										    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33"
										            r="30"></circle>
										  </svg>
										</div>
										<span>(<span class="quantity-cart">0</span> in cart)</span>
			                        </span>
							</label>
							<div class="price-per-item__container">
								<quantity-input class="quantity">
									<button class="quantity__button no-js-hidden disabled" name="minus"
									        type="button">
										<span class="visually-hidden">Decrease quantity for The Way to Win</span>
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
										     viewBox="0 0 18 18" fill="currentColor">
											<path d="M14.25 9.75H3.75V8.25H14.25V9.75Z"/>
										</svg>
									</button>
									<input class="quantity__input" type="number" name="quantity"
									       id="Quantity-template"
									       data-cart-quantity="0" data-min="1" min="1" step="1" value="1"
									       form="product-form-template--21728198033684__d6aa3b46-a6b4-406f-99f6-bdec74a5de4a"
									       max="null">
									<button class="quantity__button no-js-hidden" name="plus" type="button">
										<span class="visually-hidden">Increase quantity for The Way to Win</span>
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
										     viewBox="0 0 18 18" fill="currentColor">
											<path
												d="M14.25 9.75H9.75V14.25H8.25V9.75H3.75V8.25H8.25V3.75H9.75V8.25H14.25V9.75Z"/>
										</svg>

									</button>
								</quantity-input>
							</div>
							<div class="quantity__rules caption no-js-hidden" id="#"></div>
						</div>

						<div>
							<product-form class="product-form" data-hide-errors="false">
								<div class="product-form__error-message-wrapper" role="alert" hidden="">
									<svg aria-hidden="true" focusable="false" class="icon icon-error"
									     viewBox="0 0 13 13">
										<circle cx="6.5" cy="6.50049" r="5.5" stroke="white"
										        stroke-width="2"></circle>
										<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B"
										        stroke-width="0.7"></circle>
										<path
											d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
											fill="white"></path>
										<path
											d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
											fill="white" stroke="#EB001B" stroke-width="0.7">
										</path>
									</svg>
									<span class="product-form__error-message"></span>
								</div>
								<form method="post" action="/cart/add" id="#" class="form"
								      data-type="add-to-cart-form">
									<input type="hidden" name="form_type" value="product">
									<input
										type="hidden" name="utf8" value="✓">
									<input type="hidden" name="id" value="46500533862676"
									       class="product-variant-id">
									<div class="product-form__buttons">
										<button id="#" type="submit" name="add"
										        class="product-form__submit button button--full-width button--secondary"
										        aria-haspopup="dialog">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
											     viewBox="0 0 17 16" fill="currentColor">
												<path
													d="M12.6183 11.8962C11.5907 11.8952 10.7569 12.7275 10.7559 13.755C10.7548 14.7826 11.5871 15.6165 12.6147 15.6175C13.6423 15.6185 14.4761 14.7863 14.4771 13.7587C14.4771 13.7581 14.4771 13.7575 14.4771 13.7569C14.4762 12.7304 13.6448 11.8982 12.6183 11.8962Z"/>
												<path
													d="M15.9185 2.98649C15.874 2.97787 15.8288 2.97348 15.7834 2.97341H4.45454L4.27511 1.77305C4.16332 0.975872 3.48144 0.382753 2.67644 0.382507H1.2177C0.821318 0.382507 0.5 0.703826 0.5 1.10021C0.5 1.49659 0.821318 1.81791 1.2177 1.81791H2.67823C2.76948 1.81724 2.84672 1.88519 2.85765 1.97582L3.96291 9.55114C4.11444 10.5137 4.94242 11.2239 5.91685 11.227H13.3827C14.3209 11.2282 15.1302 10.5688 15.3187 9.64982L16.4868 3.82747C16.5621 3.43831 16.3077 3.0618 15.9185 2.98649Z"/>
												<path
													d="M8.06101 13.6771C8.01731 12.6797 7.19413 11.8945 6.19569 11.898C5.16893 11.9395 4.37021 12.8055 4.4117 13.8322C4.45151 14.8174 5.25293 15.6005 6.23876 15.6175H6.28361C7.31023 15.5725 8.10597 14.7038 8.06101 13.6771Z"/>
											</svg>
											<span>Add to cart
													<div class="product-form__price" data-price="1999">
														<p>-<span class="product-form__price_rcp">$19.<sup
															class="price-cent">99</sup></span></p>
													</div>
												</span>

											<link
												href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-loading-spinner.css?v=116724955567955766481702562835"
												rel="stylesheet" type="text/css" media="all">

											<div class="loading__spinner hidden">
												<svg aria-hidden="true" focusable="false" class="spinner"
												     viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
													<circle class="path" fill="none" stroke-width="6" cx="33"
													        cy="33" r="30"></circle>
												</svg>
											</div>
										</button>
										<div data-shopify="payment-button" data-has-selling-plan="false"
										     data-has-fixed-selling-plan="false" class="shopify-payment-button">
										</div>
									</div>
									<input type="hidden" name="product-id" value="8580849565972"></form>
							</product-form>
						</div>

					</div>
					<div class="custom-featured-product__text">
						<p>Other ways to buy</p>
					</div>
					<div class="buttons-link-box">
						<div class="buttons-link-box__wrapper">
							<a class="buttons-link-box__wrapper_button1"
							   href="https://www.amazon.com/Way-Win-Coaching-Developing-Matters/dp/0578670038"
							   target="_blank" rel="noreferrer noopener">
								<img
									src="//resources.milestonechurch.com/cdn/shop/files/image_8_2_1024x1024.png?v=1702566835"
									alt="image" class="image">
							</a>
						</div>
						<div class="buttons-link-box__wrapper">
							<a class="buttons-link-box__wrapper_button2"
							   href="https://www.audible.com/pd/The-Way-to-Win-Audiobook/B09RG7Q5H5" target="_blank"
							   rel="noreferrer noopener">
								<img
									src="//resources.milestonechurch.com/cdn/shop/files/image_2_1_1024x1024.png?v=1702566958"
									alt="image" class="image2">
							</a>
						</div>
					</div>
				</product-info>
			</div>
			<div class="product__media-wrapper">
				<img class="image-product" src="{{root}}assets/images/image-product.jpg" alt="">
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/get-started.css">
<section class="get-started get-started_bg-white">
	<div class="page-width">
		<div class="get-started__wrapper">
			<div class="get-started__left">
				<h2 class="get-started__title">Each section of The Way to Win builds on the next to create meaningful
					discussion around topics men actually care about.</h2>
			</div>
			<div class="get-started__right">
				<div class="get-started__item">
					<h3 class="get-started__item-title">Section 1</h3>
					<p>Provides immediate value that the tools in this book with add value to your daily life.</p>
				</div>
				<div class="get-started__item">
					<h3 class="get-started__item-title">Section 2</h3>
					<p>Builds spiritual foundations & show how it benefits all aspects of you life.</p>
				</div>
				<div class="get-started__item">
					<h3 class="get-started__item-title">Section 3</h3>
					<p>Identifies what it means to have integrity in relationships and to lead your family well.</p>
				</div>
				<div class="get-started__item">
					<h3 class="get-started__item-title">Section 4</h3>
					<p>Understanding the difference in actual values vs. aspirational values, and the importance of not
						just attending church, but engaging.</p>
				</div>
				<div class="get-started__item">
					<h3 class="get-started__item-title">Section 5</h3>
					<p>Equips you to walk with other men in their walk with God.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/download-preview.css">
<section class="download-preview">
	<img class="object-fit object-fit-cover" src="{{root}}assets/images/download-preview-bg.jpg" alt="">
	<div class="page-width">
		<div class="download-preview__wrapper">
			<div class="download-preview__left">
				<img src="{{root}}assets/images/product-preview.png" alt="">
			</div>
			<div class="download-preview__right">
				<img src="{{root}}assets/images/download-preview-text.svg" alt="">
				<div class="download-preview__btn">
					<a href="#" class="btn">Download A Preview</a>
				</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/image-text.css">
<section class="image-text image-text_bg-white">
	<div class="inner">
		<div class="image-text__wrapper">
			<div class="image-text__image">
				<img src="{{root}}assets/images/jeff-little.jpg" alt="">
			</div>
			<div class="image-text__content">
				<span class="image-text__top-title">About</span>
				<h2 class="title"><i>JEFF&nbsp;</i> LITTLE</h2>
				<p>Jeff Little has been in ministry for 30 years. He planted Milestone Church in the Dallas/Fort Worth
					area with a few friends in 2002. Milestone is now a family of thousands that continues to reach
					people and build lives throughout the region. More than a passionate and dynamic communicator, Jeff
					is committed to developing people and training leaders to reach their God-given potential.</p>
				<p>He earned a Bachelor’s in Religion from Baylor University, a Master’s in Missiology from Southwestern
					Baptist Theological Seminary, and a doctorate from Southeastern University. He and his wife, Brandy,
					have four children and reside in Keller, TX.</p>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/you-may-enjoy.css">
<link rel="stylesheet" href="{{root}}assets/css/products.css">
<section class="you-may-enjoy">
	<div class="page-width">
		<span class="you-may-enjoy__top-title">Other Resources</span>
		<h2 class="title">You May Enjoy</h2>
		<div class="color-background-1 isolate gradient collection__backgroun-fon  my-styles-for-collection">
			<div class="collection section-template--17127585513702__43894067-f286-4c70-9545-a8752bfd2abe-padding">
				<slider-component
					class="slider-mobile-gutter page-width page-width-desktop scroll-trigger animate--slide-in">
					<ul id="Slider-template--17127585513702__43894067-f286-4c70-9545-a8752bfd2abe"
					    class="products grid product-grid contains-card contains-card--product grid--3-col-desktop grid--2-col-tablet-down"
					    role="list" aria-label="Slider">
						<li class="product">
							<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-rating.css?v=157771854592137137841702556526" rel="stylesheet" type="text/css" media="all">
							<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-volume-pricing.css?v=56284703641257077881702562835" rel="stylesheet" type="text/css" media="all">
							<div class="card-wrapper product-card-wrapper underline-links-hover">
								<div class="card card--card card--media color-background-1 gradient">
									<div class="card__inner ratio">
										<div class="card__media">
											<div class="media media--transparent media--hover-effect">
												<img class="motion-reduce" src="{{root}}assets/images/product-2.jpg" alt="">
												<img class="motion-reduce" src="{{root}}assets/images/product-2.jpg" alt="">
											</div>
										</div>
										<div class="card__content">
											<div class="card__information">
												<h3 class="card__heading">
													<a href="#" class="full-unstyled-link">Miracles</a>
												</h3>
											</div>
											<div class="card__badge bottom right"></div>
										</div>
									</div>
									<div class="card__content">
										<div class="card__information">
											<h3 class="card__heading h5">
												<a href="#" class="full-unstyled-link">Miracles</a>
											</h3>
											<div class="card__description truncate_description">
												Lorem ipsum dolor sit amet consectetur.
											</div>
										</div>
										<div class="card-wrapper__pric-button">
											<div class="card-information"><span class="caption-large light"></span>
												<div class="price">
													<div class="price__container">
														<div class="price__regular">
															<span class="visually-hidden visually-hidden--inline">Regular price</span>
															<span class="price-item price-item--regular">$11.<span class="price-cent">25</span>
												</span>
														</div>
														<small class="unit-price caption hidden">
															<span class="visually-hidden">Unit price</span>
															<span class="price-item price-item--last">
													<span></span>
													<span aria-hidden="true">/</span>
													<span class="visually-hidden">&nbsp;per&nbsp;</span>
													<span></span>
												</span>
														</small>
													</div>
												</div>
											</div>
											<div class="quick-add no-js-hidden">
												<product-form>
													<form class="form">
														<input type="hidden" name="form_type" value="product">
														<input type="hidden" name="utf8" value="✓">
														<input type="hidden" name="id" value="45793244872980" class="product-variant-id">
														<button
															id="quick-add-template--21727730336020__featured_collection8457118843156-submit"
															type="submit" name="add"
															class="quick-add__submit button button--full-width button--secondary"
															aria-haspopup="dialog"
															aria-labelledby="quick-add-template--21727730336020__featured_collection8457118843156-submit title-template--21727730336020__featured_collection-8457118843156"
															aria-live="polite" data-sold-out-message="true">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
																<path d="M12.1183 11.8962C11.0907 11.8952 10.2569 12.7275 10.2559 13.755C10.2548 14.7826 11.0871 15.6165 12.1147 15.6175C13.1423 15.6185 13.9761 14.7863 13.9771 13.7587C13.9771 13.7581 13.9771 13.7575 13.9771 13.7569C13.9762 12.7304 13.1448 11.8982 12.1183 11.8962Z"/>
																<path d="M15.4185 2.98649C15.374 2.97787 15.3288 2.97348 15.2834 2.97341H3.95454L3.77511 1.77305C3.66332 0.975872 2.98144 0.382753 2.17644 0.382507H0.717701C0.321318 0.382507 0 0.703826 0 1.10021C0 1.49659 0.321318 1.81791 0.717701 1.81791H2.17823C2.26948 1.81724 2.34672 1.88519 2.35765 1.97582L3.46291 9.55114C3.61444 10.5137 4.44242 11.2239 5.41685 11.227H12.8827C13.8209 11.2282 14.6302 10.5688 14.8187 9.64982L15.9868 3.82747C16.0621 3.43831 15.8077 3.0618 15.4185 2.98649Z"/>
																<path d="M7.56101 13.6771C7.51731 12.6797 6.69413 11.8945 5.69569 11.898C4.66893 11.9395 3.87021 12.8055 3.9117 13.8322C3.95151 14.8174 4.75293 15.6005 5.73876 15.6175H5.78361C6.81023 15.5725 7.60597 14.7038 7.56101 13.6771Z"/>
															</svg>
															<span class="title-btn_add-cad">Add to cart</span>
															<span class="sold-out-message hidden">Sold out</span>
															<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-loading-spinner.css?v=116724955567955766481702562835" rel="stylesheet" type="text/css" media="all">
															<div class="loading__spinner hidden">
																<svg aria-hidden="true" focusable="false" class="spinner"
																     viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
																	<circle class="path" fill="none" stroke-width="6" cx="33"
																	        cy="33" r="30"></circle>
																</svg>
															</div>
														</button>
														<input type="hidden" name="product-id" value="8457118843156"></form>
												</product-form>
											</div>
										</div>
										<div class="card__badge bottom right"></div>
									</div>
								</div>
							</div>
						</li>
						<li class="product">
							<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-rating.css?v=157771854592137137841702556526" rel="stylesheet" type="text/css" media="all">
							<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-volume-pricing.css?v=56284703641257077881702562835" rel="stylesheet" type="text/css" media="all">
							<div class="card-wrapper product-card-wrapper underline-links-hover">
								<div class="card card--card card--media color-background-1 gradient">
									<div class="card__inner ratio">
										<div class="card__media">
											<div class="media media--transparent media--hover-effect">
												<img class="motion-reduce" src="{{root}}assets/images/product-1.jpg" alt="">
												<img class="motion-reduce" src="{{root}}assets/images/product-1.jpg" alt="">
											</div>
										</div>
										<div class="card__content">
											<div class="card__information">
												<h3 class="card__heading">
													<a href="#" class="full-unstyled-link">Closer</a>
												</h3>
											</div>
											<div class="card__badge bottom right"></div>
										</div>
									</div>
									<div class="card__content">
										<div class="card__information">
											<h3 class="card__heading h5">
												<a href="#" class="full-unstyled-link">Closer</a>
											</h3>
											<div class="card__description truncate_description">
												Lorem ipsum dolor sit amet consectetur.
											</div>
										</div>
										<div class="card-wrapper__pric-button">
											<div class="card-information"><span class="caption-large light"></span>
												<div class="price">
													<div class="price__container">
														<div class="price__regular">
															<span class="visually-hidden visually-hidden--inline">Regular price</span>
															<span class="price-item price-item--regular">$14.<span class="price-cent">99</span>
												</span>
														</div>
														<small class="unit-price caption hidden">
															<span class="visually-hidden">Unit price</span>
															<span class="price-item price-item--last">
													<span></span>
													<span aria-hidden="true">/</span>
													<span class="visually-hidden">&nbsp;per&nbsp;</span>
													<span></span>
												</span>
														</small>
													</div>
												</div>
											</div>
											<div class="quick-add no-js-hidden">
												<product-form>
													<form class="form">
														<input type="hidden" name="form_type" value="product">
														<input type="hidden" name="utf8" value="✓">
														<input type="hidden" name="id" value="45793244872980" class="product-variant-id">
														<button
															id="quick-add-template--21727730336020__featured_collection8457118843156-submit"
															type="submit" name="add"
															class="quick-add__submit button button--full-width button--secondary"
															aria-haspopup="dialog"
															aria-labelledby="quick-add-template--21727730336020__featured_collection8457118843156-submit title-template--21727730336020__featured_collection-8457118843156"
															aria-live="polite" data-sold-out-message="true">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
																<path d="M12.1183 11.8962C11.0907 11.8952 10.2569 12.7275 10.2559 13.755C10.2548 14.7826 11.0871 15.6165 12.1147 15.6175C13.1423 15.6185 13.9761 14.7863 13.9771 13.7587C13.9771 13.7581 13.9771 13.7575 13.9771 13.7569C13.9762 12.7304 13.1448 11.8982 12.1183 11.8962Z"/>
																<path d="M15.4185 2.98649C15.374 2.97787 15.3288 2.97348 15.2834 2.97341H3.95454L3.77511 1.77305C3.66332 0.975872 2.98144 0.382753 2.17644 0.382507H0.717701C0.321318 0.382507 0 0.703826 0 1.10021C0 1.49659 0.321318 1.81791 0.717701 1.81791H2.17823C2.26948 1.81724 2.34672 1.88519 2.35765 1.97582L3.46291 9.55114C3.61444 10.5137 4.44242 11.2239 5.41685 11.227H12.8827C13.8209 11.2282 14.6302 10.5688 14.8187 9.64982L15.9868 3.82747C16.0621 3.43831 15.8077 3.0618 15.4185 2.98649Z"/>
																<path d="M7.56101 13.6771C7.51731 12.6797 6.69413 11.8945 5.69569 11.898C4.66893 11.9395 3.87021 12.8055 3.9117 13.8322C3.95151 14.8174 4.75293 15.6005 5.73876 15.6175H5.78361C6.81023 15.5725 7.60597 14.7038 7.56101 13.6771Z"/>
															</svg>
															<span class="title-btn_add-cad">Add to cart</span>
															<span class="sold-out-message hidden">Sold out</span>
															<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-loading-spinner.css?v=116724955567955766481702562835" rel="stylesheet" type="text/css" media="all">
															<div class="loading__spinner hidden">
																<svg aria-hidden="true" focusable="false" class="spinner"
																     viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
																	<circle class="path" fill="none" stroke-width="6" cx="33"
																	        cy="33" r="30"></circle>
																</svg>
															</div>
														</button>
														<input type="hidden" name="product-id" value="8457118843156"></form>
												</product-form>
											</div>
										</div>
										<div class="card__badge bottom right"></div>
									</div>
								</div>
							</div>
						</li>
						<li class="product">
							<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-rating.css?v=157771854592137137841702556526" rel="stylesheet" type="text/css" media="all">
							<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-volume-pricing.css?v=56284703641257077881702562835" rel="stylesheet" type="text/css" media="all">
							<div class="card-wrapper product-card-wrapper underline-links-hover">
								<div class="card card--card card--media color-background-1 gradient">
									<div class="card__inner ratio">
										<div class="card__media">
											<div class="media media--transparent media--hover-effect">
												<img class="motion-reduce" src="{{root}}assets/images/product-3.jpg" alt="">
												<img class="motion-reduce" src="{{root}}assets/images/product-3.jpg" alt="">
											</div>
										</div>
										<div class="card__content">
											<div class="card__information">
												<h3 class="card__heading">
													<a href="#" class="full-unstyled-link">Who Am I?</a>
												</h3>
											</div>
											<div class="card__badge bottom right"></div>
										</div>
									</div>
									<div class="card__content">
										<div class="card__information">
											<h3 class="card__heading h5">
												<a href="#" class="full-unstyled-link">Who Am I?</a>
											</h3>
											<div class="card__description truncate_description">
												Lorem ipsum dolor sit amet consectetur donec.
											</div>
										</div>
										<div class="card-wrapper__pric-button">
											<div class="card-information"><span class="caption-large light"></span>
												<div class="price">
													<div class="price__container">
														<div class="price__regular">
															<span class="visually-hidden visually-hidden--inline">Regular price</span>
															<span class="price-item price-item--regular">$11.<span class="price-cent">25</span>
												</span>
														</div>
														<small class="unit-price caption hidden">
															<span class="visually-hidden">Unit price</span>
															<span class="price-item price-item--last">
													<span></span>
													<span aria-hidden="true">/</span>
													<span class="visually-hidden">&nbsp;per&nbsp;</span>
													<span></span>
												</span>
														</small>
													</div>
												</div>
											</div>
											<div class="quick-add no-js-hidden">
												<product-form>
													<form class="form">
														<input type="hidden" name="form_type" value="product">
														<input type="hidden" name="utf8" value="✓">
														<input type="hidden" name="id" value="45793244872980" class="product-variant-id">
														<button
															id="quick-add-template--21727730336020__featured_collection8457118843156-submit"
															type="submit" name="add"
															class="quick-add__submit button button--full-width button--secondary"
															aria-haspopup="dialog"
															aria-labelledby="quick-add-template--21727730336020__featured_collection8457118843156-submit title-template--21727730336020__featured_collection-8457118843156"
															aria-live="polite" data-sold-out-message="true">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
																<path d="M12.1183 11.8962C11.0907 11.8952 10.2569 12.7275 10.2559 13.755C10.2548 14.7826 11.0871 15.6165 12.1147 15.6175C13.1423 15.6185 13.9761 14.7863 13.9771 13.7587C13.9771 13.7581 13.9771 13.7575 13.9771 13.7569C13.9762 12.7304 13.1448 11.8982 12.1183 11.8962Z"/>
																<path d="M15.4185 2.98649C15.374 2.97787 15.3288 2.97348 15.2834 2.97341H3.95454L3.77511 1.77305C3.66332 0.975872 2.98144 0.382753 2.17644 0.382507H0.717701C0.321318 0.382507 0 0.703826 0 1.10021C0 1.49659 0.321318 1.81791 0.717701 1.81791H2.17823C2.26948 1.81724 2.34672 1.88519 2.35765 1.97582L3.46291 9.55114C3.61444 10.5137 4.44242 11.2239 5.41685 11.227H12.8827C13.8209 11.2282 14.6302 10.5688 14.8187 9.64982L15.9868 3.82747C16.0621 3.43831 15.8077 3.0618 15.4185 2.98649Z"/>
																<path d="M7.56101 13.6771C7.51731 12.6797 6.69413 11.8945 5.69569 11.898C4.66893 11.9395 3.87021 12.8055 3.9117 13.8322C3.95151 14.8174 4.75293 15.6005 5.73876 15.6175H5.78361C6.81023 15.5725 7.60597 14.7038 7.56101 13.6771Z"/>
															</svg>
															<span class="title-btn_add-cad">Add to cart</span>
															<span class="sold-out-message hidden">Sold out</span>
															<link href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-loading-spinner.css?v=116724955567955766481702562835" rel="stylesheet" type="text/css" media="all">
															<div class="loading__spinner hidden">
																<svg aria-hidden="true" focusable="false" class="spinner"
																     viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
																	<circle class="path" fill="none" stroke-width="6" cx="33"
																	        cy="33" r="30"></circle>
																</svg>
															</div>
														</button>
														<input type="hidden" name="product-id" value="8457118843156"></form>
												</product-form>
											</div>
										</div>
										<div class="card__badge bottom right"></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</slider-component>
			</div>
		</div>
		<div class="you-may-enjoy__btn">
			<a href="#" class="btn">View all Study Guides</a>
		</div>
	</div>
	<style>
		.you-may-enjoy {
			background: url({{root}}assets/images/white-bg-translucent.png) 100% 100% repeat, rgba(248, 247, 245, 0.3);
		}
	</style>
</section>
