---
pageTitle: The Way to Win Intensive
---

<link rel="stylesheet" href="{{root}}assets/css/banner.css">
<section class="banner">
	<img class="object-fit object-fit-cover" src="{{root}}assets/images/way-to-win-banner.jpg" alt="">
	<div class="inner">
		<div class="banner__logo">
			<img src="{{root}}assets/images/way-to-win-logo.png" alt="">
		</div>
		<h1 class="banner__title">Intensive</h1>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/text-section.css">
<section class="text-section">
	<div class="inner">
		<h2 class="title">Build Men Who Build Your Church</h2>
		<p>When you disciple the men in your church, you create higher buy-in, and what follows is their influence,
			leadership & finances.</p>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/benefits.css">
<section class="benefits">
	<div class="inner">
		<h2 class="title">Build Men Who Build Your Church</h2>
		<div class="benefits__wrapper">
			<div class="benefits__item">
				<div class="benefits__image">
					<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
						<g clip-path="url(#clip0_603_2137)">
							<path
								d="M68.9062 61.25H66.7188V53.5937C66.7188 53.3037 66.6035 53.0255 66.3984 52.8203C66.1933 52.6152 65.9151 52.5 65.625 52.5H63.6562C61.4249 52.4996 59.2027 52.2148 57.0434 51.6523L43.4952 48.1162C41.8941 47.6973 40.2003 47.8094 38.6683 48.4356C37.1364 49.0618 35.8491 50.1684 35 51.5889C34.1509 50.1684 32.8636 49.0618 31.3317 48.4356C29.7997 47.8094 28.1059 47.6973 26.5048 48.1162L12.9555 51.6523C10.7965 52.2147 8.57472 52.4996 6.34375 52.5H4.375C4.08492 52.5 3.80672 52.6152 3.6016 52.8203C3.39648 53.0255 3.28125 53.3037 3.28125 53.5937V57.9687C3.28125 58.2588 3.39648 58.537 3.6016 58.7421C3.80672 58.9473 4.08492 59.0625 4.375 59.0625C4.66508 59.0625 4.94328 58.9473 5.1484 58.7421C5.35352 58.537 5.46875 58.2588 5.46875 57.9687V54.6875H6.34375C8.76151 54.6876 11.1694 54.3789 13.5089 53.7687L27.0583 50.2337C27.8669 50.023 28.7131 50.0004 29.5318 50.1676C30.3506 50.3348 31.1201 50.6874 31.7813 51.1984C32.4426 51.7093 32.9779 52.365 33.3463 53.1151C33.7146 53.8651 33.9062 54.6897 33.9062 55.5253V57.9687C33.9062 58.2588 34.0215 58.537 34.2266 58.7421C34.4317 58.9473 34.7099 59.0625 35 59.0625C35.2901 59.0625 35.5683 58.9473 35.7734 58.7421C35.9785 58.537 36.0938 58.2588 36.0938 57.9687V55.5253C36.0938 54.6895 36.2853 53.8649 36.6538 53.1147C37.0222 52.3645 37.5576 51.7088 38.219 51.1978C38.8804 50.6868 39.6501 50.3343 40.4689 50.1671C41.2878 50 42.1341 50.0228 42.9428 50.2337L56.4922 53.7687C58.8314 54.3788 61.2389 54.6875 63.6562 54.6875H64.5312V61.25H1.09375C0.803669 61.25 0.52547 61.3652 0.320352 61.5703C0.115234 61.7755 0 62.0537 0 62.3437L0 66.7187C0 67.0088 0.115234 67.287 0.320352 67.4921C0.52547 67.6973 0.803669 67.8125 1.09375 67.8125H31.0625C31.4781 68.4827 32.0578 69.0357 32.7469 69.4192C33.4359 69.8026 34.2114 70.0039 35 70.0039C35.7886 70.0039 36.5641 69.8026 37.2531 69.4192C37.9422 69.0357 38.5219 68.4827 38.9375 67.8125H68.9062C69.1963 67.8125 69.4745 67.6973 69.6796 67.4921C69.8848 67.287 70 67.0088 70 66.7187V62.3437C70 62.0537 69.8848 61.7755 69.6796 61.5703C69.4745 61.3652 69.1963 61.25 68.9062 61.25ZM67.8125 65.625H38.2812C38.0771 65.6239 37.8767 65.6799 37.7027 65.7868C37.5287 65.8937 37.3881 66.0472 37.2969 66.2298L37.1875 66.4606C36.9844 66.8669 36.6722 67.2086 36.2858 67.4474C35.8994 67.6862 35.4542 67.8127 35 67.8127C34.5458 67.8127 34.1006 67.6862 33.7142 67.4474C33.3278 67.2086 33.0156 66.8669 32.8125 66.4606L32.6977 66.2298C32.6068 66.048 32.4671 65.8951 32.2942 65.7883C32.1213 65.6814 31.922 65.6249 31.7188 65.625H2.1875V63.4375H67.8125V65.625Z"
								fill="#342663"/>
							<path
								d="M12.0312 48.125H16.4062C16.6963 48.125 16.9745 48.0098 17.1796 47.8046C17.3848 47.5995 17.5 47.3213 17.5 47.0312C17.5 46.7412 17.3848 46.463 17.1796 46.2579C16.9745 46.0527 16.6963 45.9375 16.4062 45.9375H12.0312C11.161 45.9375 10.3264 45.5918 9.71106 44.9764C9.0957 44.3611 8.75 43.5265 8.75 42.6562V17.5H61.25V42.6562C61.25 43.5265 60.9043 44.3611 60.2889 44.9764C59.6736 45.5918 58.839 45.9375 57.9688 45.9375H53.5938C53.3037 45.9375 53.0255 46.0527 52.8204 46.2579C52.6152 46.463 52.5 46.7412 52.5 47.0312C52.5 47.3213 52.6152 47.5995 52.8204 47.8046C53.0255 48.0098 53.3037 48.125 53.5938 48.125H57.9688C59.4186 48.1233 60.8086 47.5465 61.8338 46.5213C62.859 45.4961 63.4358 44.1061 63.4375 42.6562V9.84375C63.4358 8.39388 62.859 7.00389 61.8338 5.97868C60.8086 4.95346 59.4186 4.37674 57.9688 4.375H55.7812V3.28125C55.7812 2.41101 55.4355 1.57641 54.8202 0.961056C54.2048 0.345702 53.3702 0 52.5 0C51.6298 0 50.7952 0.345702 50.1798 0.961056C49.5645 1.57641 49.2188 2.41101 49.2188 3.28125V4.375H20.7812V3.28125C20.7812 2.41101 20.4355 1.57641 19.8202 0.961056C19.2048 0.345702 18.3702 0 17.5 0C16.6298 0 15.7952 0.345702 15.1798 0.961056C14.5645 1.57641 14.2188 2.41101 14.2188 3.28125V4.375H12.0312C10.5814 4.37674 9.19139 4.95346 8.16618 5.97868C7.14096 7.00389 6.56424 8.39388 6.5625 9.84375V42.6562C6.56424 44.1061 7.14096 45.4961 8.16618 46.5213C9.19139 47.5465 10.5814 48.1233 12.0312 48.125ZM51.4062 3.28125C51.4062 2.99117 51.5215 2.71297 51.7266 2.50785C51.9317 2.30273 52.2099 2.1875 52.5 2.1875C52.7901 2.1875 53.0683 2.30273 53.2734 2.50785C53.4785 2.71297 53.5938 2.99117 53.5938 3.28125V7.65625C53.5938 7.94633 53.4785 8.22453 53.2734 8.42965C53.0683 8.63477 52.7901 8.75 52.5 8.75C52.2099 8.75 51.9317 8.63477 51.7266 8.42965C51.5215 8.22453 51.4062 7.94633 51.4062 7.65625V3.28125ZM16.4062 3.28125C16.4062 2.99117 16.5215 2.71297 16.7266 2.50785C16.9317 2.30273 17.2099 2.1875 17.5 2.1875C17.7901 2.1875 18.0683 2.30273 18.2734 2.50785C18.4785 2.71297 18.5938 2.99117 18.5938 3.28125V7.65625C18.5938 7.94633 18.4785 8.22453 18.2734 8.42965C18.0683 8.63477 17.7901 8.75 17.5 8.75C17.2099 8.75 16.9317 8.63477 16.7266 8.42965C16.5215 8.22453 16.4062 7.94633 16.4062 7.65625V3.28125ZM8.75 9.84375C8.75 8.97351 9.0957 8.13891 9.71106 7.52356C10.3264 6.9082 11.161 6.5625 12.0312 6.5625H14.2188V7.65625C14.2188 8.52649 14.5645 9.36109 15.1798 9.97644C15.7952 10.5918 16.6298 10.9375 17.5 10.9375C18.3702 10.9375 19.2048 10.5918 19.8202 9.97644C20.4355 9.36109 20.7812 8.52649 20.7812 7.65625V6.5625H49.2188V7.65625C49.2188 8.52649 49.5645 9.36109 50.1798 9.97644C50.7952 10.5918 51.6298 10.9375 52.5 10.9375C53.3702 10.9375 54.2048 10.5918 54.8202 9.97644C55.4355 9.36109 55.7812 8.52649 55.7812 7.65625V6.5625H57.9688C58.839 6.5625 59.6736 6.9082 60.2889 7.52356C60.9043 8.13891 61.25 8.97351 61.25 9.84375V15.3125H8.75V9.84375Z"
								fill="#342663"/>
							<path
								d="M33.9062 33.9062V38.2812C33.9062 38.5713 34.0215 38.8495 34.2266 39.0546C34.4317 39.2598 34.7099 39.375 35 39.375C35.2901 39.375 35.5683 39.2598 35.7734 39.0546C35.9785 38.8495 36.0938 38.5713 36.0938 38.2812V33.9062C36.0938 33.6162 35.9785 33.338 35.7734 33.1329C35.5683 32.9277 35.2901 32.8125 35 32.8125C34.7099 32.8125 34.4317 32.9277 34.2266 33.1329C34.0215 33.338 33.9062 33.6162 33.9062 33.9062Z"
								fill="#342663"/>
							<path
								d="M45.8284 37.9389L42.7353 41.032C42.6308 41.1329 42.5475 41.2536 42.4902 41.387C42.4328 41.5205 42.4027 41.664 42.4014 41.8092C42.4001 41.9545 42.4278 42.0985 42.4828 42.2329C42.5378 42.3673 42.619 42.4894 42.7217 42.5921C42.8244 42.6948 42.9465 42.776 43.081 42.831C43.2154 42.886 43.3594 42.9137 43.5046 42.9124C43.6498 42.9112 43.7934 42.881 43.9268 42.8237C44.0603 42.7664 44.1809 42.683 44.2818 42.5786L47.3739 39.4844C47.565 39.2767 47.6685 39.0032 47.6626 38.721C47.6568 38.4388 47.5421 38.1698 47.3425 37.9703C47.1429 37.7707 46.8739 37.656 46.5918 37.6501C46.3096 37.6443 46.0361 37.7478 45.8284 37.9389Z"
								fill="#342663"/>
							<path
								d="M22.6269 37.9388C22.4218 38.1439 22.3066 38.4221 22.3066 38.7121C22.3066 39.0021 22.4218 39.2803 22.6269 39.4854L25.72 42.5785C25.8209 42.683 25.9416 42.7663 26.075 42.8236C26.2085 42.881 26.352 42.9111 26.4972 42.9124C26.6424 42.9136 26.7865 42.886 26.9209 42.831C27.0553 42.776 27.1774 42.6948 27.2801 42.5921C27.3828 42.4894 27.464 42.3673 27.519 42.2328C27.574 42.0984 27.6017 41.9544 27.6004 41.8092C27.5992 41.6639 27.569 41.5204 27.5117 41.387C27.4544 41.2535 27.371 41.1328 27.2666 41.032L24.1723 37.9388C23.9673 37.7341 23.6894 37.6191 23.3996 37.6191C23.1099 37.6191 22.8319 37.7341 22.6269 37.9388Z"
								fill="#342663"/>
						</g>
						<defs>
							<clipPath id="clip0_603_2137">
								<rect width="70" height="70" fill="white"/>
							</clipPath>
						</defs>
					</svg>
				</div>
				<div class="benefits__content">
					<h3>Discipleship takes time</h3>
					<p>A 38-week process that provides the environment men need to grow spiritually and build meaningful
						relationships.</p>
				</div>
			</div>
			<div class="benefits__item">
				<div class="benefits__image">
					<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
						<g clip-path="url(#clip0_603_2145)">
							<path
								d="M66.7188 0H3.28125C2.41101 0 1.57641 0.345702 0.961056 0.961056C0.345702 1.57641 0 2.41101 0 3.28125L0 51.4062C0 52.2765 0.345702 53.1111 0.961056 53.7264C1.57641 54.3418 2.41101 54.6875 3.28125 54.6875H13.125C13.4151 54.6875 13.6933 54.5723 13.8984 54.3671C14.1035 54.162 14.2188 53.8838 14.2188 53.5938C14.2188 53.3037 14.1035 53.0255 13.8984 52.8204C13.6933 52.6152 13.4151 52.5 13.125 52.5H3.28125C2.99117 52.5 2.71297 52.3848 2.50785 52.1796C2.30273 51.9745 2.1875 51.6963 2.1875 51.4062V3.28125C2.1875 2.99117 2.30273 2.71297 2.50785 2.50785C2.71297 2.30273 2.99117 2.1875 3.28125 2.1875H66.7188C67.0088 2.1875 67.287 2.30273 67.4921 2.50785C67.6973 2.71297 67.8125 2.99117 67.8125 3.28125V51.4062C67.8125 51.6963 67.6973 51.9745 67.4921 52.1796C67.287 52.3848 67.0088 52.5 66.7188 52.5H56.875C56.5849 52.5 56.3067 52.6152 56.1016 52.8204C55.8965 53.0255 55.7812 53.3037 55.7812 53.5938C55.7812 53.8838 55.8965 54.162 56.1016 54.3671C56.3067 54.5723 56.5849 54.6875 56.875 54.6875H66.7188C67.589 54.6875 68.4236 54.3418 69.0389 53.7264C69.6543 53.1111 70 52.2765 70 51.4062V3.28125C70 2.41101 69.6543 1.57641 69.0389 0.961056C68.4236 0.345702 67.589 0 66.7188 0Z"
								fill="#342663"/>
							<path
								d="M5.46875 6.5625C6.07281 6.5625 6.5625 6.07281 6.5625 5.46875C6.5625 4.86469 6.07281 4.375 5.46875 4.375C4.86469 4.375 4.375 4.86469 4.375 5.46875C4.375 6.07281 4.86469 6.5625 5.46875 6.5625Z"
								fill="#342663"/>
							<path
								d="M9.84375 6.5625C10.4478 6.5625 10.9375 6.07281 10.9375 5.46875C10.9375 4.86469 10.4478 4.375 9.84375 4.375C9.23969 4.375 8.75 4.86469 8.75 5.46875C8.75 6.07281 9.23969 6.5625 9.84375 6.5625Z"
								fill="#342663"/>
							<path
								d="M14.2188 6.5625C14.8228 6.5625 15.3125 6.07281 15.3125 5.46875C15.3125 4.86469 14.8228 4.375 14.2188 4.375C13.6147 4.375 13.125 4.86469 13.125 5.46875C13.125 6.07281 13.6147 6.5625 14.2188 6.5625Z"
								fill="#342663"/>
							<path
								d="M65.625 5.46875C65.625 5.17867 65.5098 4.90047 65.3046 4.69535C65.0995 4.49023 64.8213 4.375 64.5312 4.375H18.5938C18.3037 4.375 18.0255 4.49023 17.8204 4.69535C17.6152 4.90047 17.5 5.17867 17.5 5.46875C17.5 5.75883 17.6152 6.03703 17.8204 6.24215C18.0255 6.44727 18.3037 6.5625 18.5938 6.5625H64.5312C64.8213 6.5625 65.0995 6.44727 65.3046 6.24215C65.5098 6.03703 65.625 5.75883 65.625 5.46875Z"
								fill="#342663"/>
							<path
								d="M37.1875 67.8125H32.8125C32.5224 67.8125 32.2442 67.9277 32.0391 68.1329C31.834 68.338 31.7188 68.6162 31.7188 68.9062C31.7188 69.1963 31.834 69.4745 32.0391 69.6796C32.2442 69.8848 32.5224 70 32.8125 70H37.1875C37.4776 70 37.7558 69.8848 37.9609 69.6796C38.166 69.4745 38.2812 69.1963 38.2812 68.9062C38.2812 68.6162 38.166 68.338 37.9609 68.1329C37.7558 67.9277 37.4776 67.8125 37.1875 67.8125Z"
								fill="#342663"/>
							<path
								d="M32.8125 34.393C32.5224 34.393 32.2442 34.5082 32.0391 34.7133C31.834 34.9185 31.7188 35.1967 31.7188 35.4867V40.4688C31.7188 40.7589 31.834 41.0371 32.0391 41.2422C32.2442 41.4473 32.5224 41.5625 32.8125 41.5625H37.1875C37.4776 41.5625 37.7558 41.4473 37.9609 41.2422C38.166 41.0371 38.2812 40.7589 38.2812 40.4688V36.0708C39.1995 35.3842 39.8779 34.4256 40.2201 33.3313C40.5624 32.237 40.5511 31.0627 40.1877 29.9753C39.8244 28.8878 39.1276 27.9425 38.1962 27.2738C37.2649 26.605 36.1465 26.2468 35 26.25C34.7099 26.25 34.4317 26.3653 34.2266 26.5704C34.0215 26.7755 33.9062 27.0537 33.9062 27.3438C33.9062 27.6339 34.0215 27.9121 34.2266 28.1172C34.4317 28.3223 34.7099 28.4375 35 28.4375C35.8702 28.4375 36.7048 28.7832 37.3202 29.3986C37.9355 30.0139 38.2812 30.8485 38.2812 31.7188C38.2815 32.2923 38.1299 32.8557 37.8417 33.3515C37.5535 33.8474 37.1391 34.2581 36.6406 34.5417C36.4747 34.6375 36.3368 34.7753 36.2408 34.9411C36.1449 35.107 36.0941 35.2951 36.0938 35.4867V39.375H33.9062V35.4867C33.9062 35.1967 33.791 34.9185 33.5859 34.7133C33.3808 34.5082 33.1026 34.393 32.8125 34.393Z"
								fill="#342663"/>
							<path
								d="M9.84356 36.0937C10.8107 36.0901 11.7493 35.7661 12.5128 35.1724C13.2762 34.5788 13.8215 33.7489 14.0633 32.8124H34.9998C35.2899 32.8124 35.5681 32.6972 35.7732 32.4921C35.9783 32.287 36.0936 32.0088 36.0936 31.7187C36.0936 31.4286 35.9783 31.1504 35.7732 30.9453C35.5681 30.7402 35.2899 30.6249 34.9998 30.6249H14.0633C13.8573 29.8346 13.4339 29.1179 12.841 28.5562C12.2482 27.9944 11.5098 27.6102 10.7095 27.447C9.90928 27.2839 9.07934 27.3484 8.31392 27.6332C7.5485 27.9181 6.87828 28.4118 6.37937 29.0584C5.88046 29.705 5.57285 30.4785 5.49147 31.2911C5.41008 32.1038 5.55819 32.9229 5.91897 33.6556C6.27974 34.3883 6.83873 35.0052 7.53246 35.4361C8.2262 35.8671 9.02687 36.0949 9.84356 36.0937ZM9.84356 29.5312C10.2762 29.5312 10.6991 29.6595 11.0589 29.8999C11.4186 30.1402 11.699 30.4819 11.8646 30.8816C12.0301 31.2813 12.0734 31.7211 11.989 32.1455C11.9046 32.5698 11.6963 32.9596 11.3904 33.2655C11.0844 33.5714 10.6947 33.7798 10.2703 33.8642C9.84599 33.9486 9.40616 33.9052 9.00644 33.7397C8.60673 33.5741 8.26509 33.2937 8.02472 32.934C7.78436 32.5743 7.65606 32.1513 7.65606 31.7187C7.65606 31.1385 7.88653 30.5821 8.29677 30.1719C8.707 29.7617 9.2634 29.5312 9.84356 29.5312Z"
								fill="#342663"/>
							<path
								d="M34.1717 15.3322C30.7119 15.5305 27.3863 16.7389 24.6063 18.8079C21.8263 20.877 19.7141 23.7158 18.5311 26.973C18.4405 27.2439 18.4594 27.5396 18.584 27.7967C18.7085 28.0538 18.9287 28.252 19.1975 28.3489C19.4662 28.4457 19.7622 28.4336 20.0221 28.3151C20.2821 28.1965 20.4853 27.981 20.5884 27.7146C21.6225 24.8625 23.4703 22.3764 25.9031 20.5639C28.3359 18.7515 31.2469 17.6923 34.2756 17.5175C37.2883 17.3731 40.2766 18.1221 42.8651 19.6703C45.4536 21.2185 47.5269 23.497 48.8248 26.2197C50.1227 28.9424 50.5872 31.9878 50.16 34.9736C49.7329 37.9594 48.4331 40.7524 46.4239 43.0019C43.4882 46.2074 41.7761 50.345 41.5884 54.6875H28.412C28.2778 50.3938 26.6029 46.2917 23.6936 43.131C21.8344 41.0891 20.5633 38.5816 20.0153 35.875C19.9514 35.5967 19.7813 35.3545 19.5412 35.1999C19.3012 35.0454 19.0102 34.9908 18.7304 35.048C18.4507 35.1051 18.2043 35.2693 18.0441 35.5056C17.8838 35.7419 17.8223 36.0315 17.8726 36.3125C18.4987 39.4076 19.9533 42.2746 22.0814 44.6075C24.7488 47.496 26.2361 51.2797 26.2497 55.2114V62.3438C26.2497 63.214 26.5954 64.0486 27.2107 64.664C27.8261 65.2793 28.6607 65.625 29.5309 65.625H40.4684C41.3386 65.625 42.1732 65.2793 42.7886 64.664C43.404 64.0486 43.7497 63.214 43.7497 62.3438V55.2158C43.8121 51.2242 45.3436 47.3956 48.0514 44.4621C50.3453 41.8904 51.8289 38.6987 52.3161 35.2873C52.8034 31.8758 52.2725 28.3965 50.7902 25.2855C49.3079 22.1745 46.9401 19.5704 43.9837 17.7997C41.0273 16.0291 37.614 15.1707 34.1717 15.3322ZM41.5622 62.3438C41.5622 62.6339 41.4469 62.9121 41.2418 63.1172C41.0367 63.3223 40.7585 63.4375 40.4684 63.4375H29.5309C29.2408 63.4375 28.9626 63.3223 28.7575 63.1172C28.5524 62.9121 28.4372 62.6339 28.4372 62.3438V56.875H41.5622V62.3438Z"
								fill="#342663"/>
							<path
								d="M54.4446 11.8989L51.3515 14.992C51.247 15.0929 51.1637 15.2136 51.1064 15.347C51.0491 15.4804 51.0189 15.624 51.0176 15.7692C51.0164 15.9144 51.044 16.0584 51.099 16.1929C51.154 16.3273 51.2352 16.4494 51.3379 16.5521C51.4406 16.6548 51.5627 16.736 51.6972 16.791C51.8316 16.846 51.9756 16.8737 52.1208 16.8724C52.2661 16.8711 52.4096 16.841 52.543 16.7836C52.6765 16.7263 52.7972 16.643 52.898 16.5385L55.9912 13.4454C56.0956 13.3445 56.179 13.2238 56.2363 13.0904C56.2936 12.9569 56.3238 12.8134 56.325 12.6682C56.3263 12.523 56.2986 12.3789 56.2436 12.2445C56.1886 12.1101 56.1074 11.988 56.0047 11.8853C55.902 11.7826 55.7799 11.7014 55.6455 11.6464C55.5111 11.5914 55.3671 11.5637 55.2218 11.565C55.0766 11.5662 54.9331 11.5964 54.7996 11.6537C54.6662 11.7111 54.5455 11.7944 54.4446 11.8989Z"
								fill="#342663"/>
							<path
								d="M44.8438 11.1256V14.2187C44.8438 14.5088 44.959 14.787 45.1641 14.9921C45.3692 15.1973 45.6474 15.3125 45.9375 15.3125C46.2276 15.3125 46.5058 15.1973 46.7109 14.9921C46.916 14.787 47.0312 14.5088 47.0312 14.2187V11.1256C47.0312 10.8355 46.916 10.5573 46.7109 10.3522C46.5058 10.1471 46.2276 10.0319 45.9375 10.0319C45.6474 10.0319 45.3692 10.1471 45.1641 10.3522C44.959 10.5573 44.8438 10.8355 44.8438 11.1256Z"
								fill="#342663"/>
							<path
								d="M57.7264 21.8203C57.7264 21.5302 57.6112 21.252 57.4061 21.0469C57.2009 20.8418 56.9227 20.7266 56.6327 20.7266H53.6719C53.3818 20.7266 53.1036 20.8418 52.8985 21.0469C52.6934 21.252 52.5781 21.5302 52.5781 21.8203C52.5781 22.1104 52.6934 22.3886 52.8985 22.5937C53.1036 22.7988 53.3818 22.9141 53.6719 22.9141H56.6327C56.9227 22.9141 57.2009 22.7988 57.4061 22.5937C57.6112 22.3886 57.7264 22.1104 57.7264 21.8203Z"
								fill="#342663"/>
						</g>
						<defs>
							<clipPath id="clip0_603_2145">
								<rect width="70" height="70" fill="white"/>
							</clipPath>
						</defs>
					</svg>
				</div>
				<div class="benefits__content">
					<h3>Content is key</h3>
					<p>Concise chapters intentionally desired to ad same to my eving.</p>
				</div>
			</div>
		</div>
		<div class="benefits__btn">
			<a href="#" class="btn">Purchase Now</a>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/single-product.css">
<section class="single-product">
	<div class="inner">
		<div class="product">
			<div class="product__info-wrapper">
				<product-info class="product__info-container">
					<h2 class="custom-featured-product__heading"><strong>The Way to Win Intensive</strong></h2>
					<div class="custom-featured-product__description">
						<h3>Your online course includes:</h3>
						<ul>
							<li>8 training videos that cover the development group vision, process & content
								structure
							</li>
							<li>Email & text templates</li>
							<li>Weekly leader guide</li>
							<li>Protips & frequently asked questions</li>
							<li>12 copies of The Way to Win book for your first group</li>
						</ul>
					</div>
					<div class="no-js-hidden"
					     id="price-template--21728198033684__d6aa3b46-a6b4-406f-99f6-bdec74a5de4a"
					     role="status">
						<div class="price price--large price--show-badge">
							<div class="price__container">
								<div class="price__regular">
									<span class="visually-hidden visually-hidden--inline">Regular price</span>
									<span class="price-item price-item--regular">$100.<span
										class="price-cent">00</span></span>
								</div>
								<div class="price__sale">
									<span class="visually-hidden visually-hidden--inline">Regular price</span>
									<span><s class="price-item price-item--regular"></s></span>
									<span class="visually-hidden visually-hidden--inline">Sale price</span>
									<span class="price-item price-item--sale price-item--last">$19</span>
								</div>
								<small class="unit-price caption hidden">
									<span class="visually-hidden">Unit price</span>
									<span class="price-item price-item--last">
									        <span></span>
									        <span aria-hidden="true">/</span>
									        <span class="visually-hidden">&nbsp;per&nbsp;</span>
									        <span></span>
								        </span>
								</small>
							</div>
							<span class="badge price__badge-sale color-background-1">Sale</span>
							<span class="badge price__badge-sold-out color-background-1">Sold out</span>
						</div>
					</div>
					<div>
						<form method="post" action="#" id="#" class="shopify-product-form"
						      enctype="multipart/form-data">
							<input type="hidden" name="form_type" value="product">
							<input type="hidden" name="utf8" value="✓">
							<input type="hidden" name="id" value="46500533862676">
							<input type="hidden" name="product-id" value="8580849565972">
						</form>
					</div>
					<div class="custom-featured-product__content">
						<p>25% discount when you buy 10 or more books</p>
					</div>
					<div class="wrapper-button-and-quantity">
						<div class="product-form__input product-form__quantity">
							<label class="quantity__label form__label" for="Quantity-template">
								Quantity
								<span class="quantity__rules-cart no-js-hidden hidden">
										<link
											href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-loading-spinner.css?v=116724955567955766481702562835"
											rel="stylesheet" type="text/css" media="all">

										<div class="loading__spinner hidden">
										  <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66"
										       xmlns="http://www.w3.org/2000/svg">
										    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33"
										            r="30"></circle>
										  </svg>
										</div>
										<span>(<span class="quantity-cart">0</span> in cart)</span>
			                        </span>
							</label>
							<div class="price-per-item__container">
								<quantity-input class="quantity">
									<button class="quantity__button no-js-hidden disabled" name="minus"
									        type="button">
										<span class="visually-hidden">Decrease quantity for The Way to Win</span>
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
										     viewBox="0 0 18 18" fill="currentColor">
											<path d="M14.25 9.75H3.75V8.25H14.25V9.75Z"/>
										</svg>
									</button>
									<input class="quantity__input" type="number" name="quantity"
									       id="Quantity-template"
									       data-cart-quantity="0" data-min="1" min="1" step="1" value="1"
									       form="product-form-template--21728198033684__d6aa3b46-a6b4-406f-99f6-bdec74a5de4a"
									       max="null">
									<button class="quantity__button no-js-hidden" name="plus" type="button">
										<span class="visually-hidden">Increase quantity for The Way to Win</span>
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
										     viewBox="0 0 18 18" fill="currentColor">
											<path
												d="M14.25 9.75H9.75V14.25H8.25V9.75H3.75V8.25H8.25V3.75H9.75V8.25H14.25V9.75Z"/>
										</svg>

									</button>
								</quantity-input>
							</div>
							<div class="quantity__rules caption no-js-hidden" id="#"></div>
						</div>

						<div>
							<product-form class="product-form" data-hide-errors="false">
								<div class="product-form__error-message-wrapper" role="alert" hidden="">
									<svg aria-hidden="true" focusable="false" class="icon icon-error"
									     viewBox="0 0 13 13">
										<circle cx="6.5" cy="6.50049" r="5.5" stroke="white"
										        stroke-width="2"></circle>
										<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B"
										        stroke-width="0.7"></circle>
										<path
											d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
											fill="white"></path>
										<path
											d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
											fill="white" stroke="#EB001B" stroke-width="0.7">
										</path>
									</svg>
									<span class="product-form__error-message"></span>
								</div>
								<form method="post" action="/cart/add" id="#" class="form"
								      data-type="add-to-cart-form">
									<input type="hidden" name="form_type" value="product">
									<input
										type="hidden" name="utf8" value="✓">
									<input type="hidden" name="id" value="46500533862676"
									       class="product-variant-id">
									<div class="product-form__buttons">
										<button id="#" type="submit" name="add"
										        class="product-form__submit button button--full-width button--secondary"
										        aria-haspopup="dialog">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
											     viewBox="0 0 17 16" fill="currentColor">
												<path
													d="M12.6183 11.8962C11.5907 11.8952 10.7569 12.7275 10.7559 13.755C10.7548 14.7826 11.5871 15.6165 12.6147 15.6175C13.6423 15.6185 14.4761 14.7863 14.4771 13.7587C14.4771 13.7581 14.4771 13.7575 14.4771 13.7569C14.4762 12.7304 13.6448 11.8982 12.6183 11.8962Z"/>
												<path
													d="M15.9185 2.98649C15.874 2.97787 15.8288 2.97348 15.7834 2.97341H4.45454L4.27511 1.77305C4.16332 0.975872 3.48144 0.382753 2.67644 0.382507H1.2177C0.821318 0.382507 0.5 0.703826 0.5 1.10021C0.5 1.49659 0.821318 1.81791 1.2177 1.81791H2.67823C2.76948 1.81724 2.84672 1.88519 2.85765 1.97582L3.96291 9.55114C4.11444 10.5137 4.94242 11.2239 5.91685 11.227H13.3827C14.3209 11.2282 15.1302 10.5688 15.3187 9.64982L16.4868 3.82747C16.5621 3.43831 16.3077 3.0618 15.9185 2.98649Z"/>
												<path
													d="M8.06101 13.6771C8.01731 12.6797 7.19413 11.8945 6.19569 11.898C5.16893 11.9395 4.37021 12.8055 4.4117 13.8322C4.45151 14.8174 5.25293 15.6005 6.23876 15.6175H6.28361C7.31023 15.5725 8.10597 14.7038 8.06101 13.6771Z"/>
											</svg>
											<span>Add to cart
													<div class="product-form__price" data-price="1999">
														<p>-<span class="product-form__price_rcp">$100.<sup
															class="price-cent">00</sup></span></p>
													</div>
												</span>

											<link
												href="//resources.milestonechurch.com/cdn/shop/t/2/assets/component-loading-spinner.css?v=116724955567955766481702562835"
												rel="stylesheet" type="text/css" media="all">

											<div class="loading__spinner hidden">
												<svg aria-hidden="true" focusable="false" class="spinner"
												     viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
													<circle class="path" fill="none" stroke-width="6" cx="33"
													        cy="33" r="30"></circle>
												</svg>
											</div>
										</button>
										<div data-shopify="payment-button" data-has-selling-plan="false"
										     data-has-fixed-selling-plan="false" class="shopify-payment-button">
										</div>
									</div>
									<input type="hidden" name="product-id" value="8580849565972"></form>
							</product-form>
						</div>

					</div>
					<div class="custom-featured-product__text">
						<p>Other ways to buy</p>
					</div>
					<div class="buttons-link-box">
						<div class="buttons-link-box__wrapper">
							<a class="buttons-link-box__wrapper_button1"
							   href="https://www.amazon.com/Way-Win-Coaching-Developing-Matters/dp/0578670038"
							   target="_blank" rel="noreferrer noopener">
								<img
									src="//resources.milestonechurch.com/cdn/shop/files/image_8_2_1024x1024.png?v=1702566835"
									alt="image" class="image">
							</a>
						</div>
						<div class="buttons-link-box__wrapper">
							<a class="buttons-link-box__wrapper_button2"
							   href="https://www.audible.com/pd/The-Way-to-Win-Audiobook/B09RG7Q5H5" target="_blank"
							   rel="noreferrer noopener">
								<img
									src="//resources.milestonechurch.com/cdn/shop/files/image_2_1_1024x1024.png?v=1702566958"
									alt="image" class="image2">
							</a>
						</div>
					</div>
				</product-info>
			</div>
			<div class="product__media-wrapper">
				<div class="product__caption">
					<span>Free sample</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd"
						      d="M4.04541 21.7751C41.0766 17.4327 66.9539 44.7697 79.8339 77.0955C80.0562 77.6503 80.687 77.9229 81.2418 77.7007C81.7966 77.4784 82.0692 76.8476 81.847 76.2928C68.6081 43.061 41.8602 15.1589 3.79162 19.6235C3.19842 19.6919 2.77366 20.2304 2.84272 20.8262C2.91107 21.4194 3.44956 21.8441 4.04541 21.7751Z"
						      fill="#029D50"/>
						<path fill-rule="evenodd" clip-rule="evenodd"
						      d="M80.5992 76.0869C79.1158 74.8933 77.2707 73.3747 77.0563 73.2085C71.2459 68.704 65.0481 65.3422 58.1445 62.7698C57.5844 62.5603 56.9591 62.8469 56.7496 63.4069C56.5401 63.967 56.8266 64.5923 57.3867 64.8018C64.082 67.2941 70.0936 70.5528 75.7293 74.923C76.0579 75.1775 80.2036 78.5937 81.0938 79.2215C81.4576 79.4807 81.7441 79.5143 81.8124 79.5158C82.175 79.5376 82.4188 79.4015 82.5849 79.2607C82.7713 79.1004 83.0144 78.7607 83.0398 78.2216C83.0641 77.6574 82.8281 76.4805 82.7925 76.1786C82.2681 71.6223 81.2858 66.5828 81.3258 61.745C81.3636 57.1314 82.3324 52.696 85.6964 49.1164C86.1063 48.681 86.0835 47.9935 85.6481 47.5836C85.2127 47.1736 84.5251 47.1964 84.1152 47.6318C80.3551 51.6347 79.2003 56.5703 79.1577 61.7258C79.1185 66.5351 80.057 71.5381 80.5992 76.0869Z"
						      fill="#029D50"/>
					</svg>
				</div>
				<div class="popup-video"></div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/reviews-slider.css">
<section class="reviews-slider">
	<div class="inner">
		<h2 class="title">Don't Just Take Our Word For It</h2>
		<div class="splide" id="reviews-slider">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">
						<div class="review">
							<div class="review__wrapper">
								<div class="review__avatar">
									<img src="{{root}}assets/images/avatar.png" alt="">
								</div>
								<div class="review__content">
									<h3 class="review__name">Jacob Williamson</h3>
									<h4 class="review__position">Celebration Church</h4>
									<p>"We believe a Way to Win Development Group will be the most important thing we do in
										2024"</p>
									<div class="review__quote">
										<svg xmlns="http://www.w3.org/2000/svg" width="73" height="60" viewBox="0 0 73 60"
										     fill="none">
											<path
												d="M46.25 33.75V7.5H72.5V34.125C72.5 52.125 55.625 54.375 55.625 54.375L53.375 49.125C53.375 49.125 60.875 48 62.375 42C63.875 37.5 60.875 33.75 60.875 33.75H46.25Z"
												fill="#EAE9E5"/>
											<path
												d="M0 33.75V7.5H26.25V34.125C26.25 52.125 9.375 54.375 9.375 54.375L7.125 49.125C7.125 49.125 14.625 48 16.125 42C17.625 37.5 14.625 33.75 14.625 33.75H0Z"
												fill="#EAE9E5"/>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="splide__slide">
						<div class="review">
							<div class="review__wrapper">
								<div class="review__avatar">
									<img src="{{root}}assets/images/avatar.png" alt="">
								</div>
								<div class="review__content">
									<h3 class="review__name">Jacob Williamson</h3>
									<h4 class="review__position">Celebration Church</h4>
									<p>"We believe a Way to Win Development Group will be the most important thing we do in
										2024"</p>
									<div class="review__quote">
										<svg xmlns="http://www.w3.org/2000/svg" width="73" height="60" viewBox="0 0 73 60"
										     fill="none">
											<path
												d="M46.25 33.75V7.5H72.5V34.125C72.5 52.125 55.625 54.375 55.625 54.375L53.375 49.125C53.375 49.125 60.875 48 62.375 42C63.875 37.5 60.875 33.75 60.875 33.75H46.25Z"
												fill="#EAE9E5"/>
											<path
												d="M0 33.75V7.5H26.25V34.125C26.25 52.125 9.375 54.375 9.375 54.375L7.125 49.125C7.125 49.125 14.625 48 16.125 42C17.625 37.5 14.625 33.75 14.625 33.75H0Z"
												fill="#EAE9E5"/>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="splide__slide">
						<div class="review">
							<div class="review__wrapper">
								<div class="review__avatar">
									<img src="{{root}}assets/images/avatar.png" alt="">
								</div>
								<div class="review__content">
									<h3 class="review__name">Jacob Williamson</h3>
									<h4 class="review__position">Celebration Church</h4>
									<p>"We believe a Way to Win Development Group will be the most important thing we do in
										2024"</p>
									<div class="review__quote">
										<svg xmlns="http://www.w3.org/2000/svg" width="73" height="60" viewBox="0 0 73 60"
										     fill="none">
											<path
												d="M46.25 33.75V7.5H72.5V34.125C72.5 52.125 55.625 54.375 55.625 54.375L53.375 49.125C53.375 49.125 60.875 48 62.375 42C63.875 37.5 60.875 33.75 60.875 33.75H46.25Z"
												fill="#EAE9E5"/>
											<path
												d="M0 33.75V7.5H26.25V34.125C26.25 52.125 9.375 54.375 9.375 54.375L7.125 49.125C7.125 49.125 14.625 48 16.125 42C17.625 37.5 14.625 33.75 14.625 33.75H0Z"
												fill="#EAE9E5"/>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/get-started.css">
<section class="get-started">
	<div class="inner">
		<div class="get-started__wrapper">
			<div class="get-started__left">
				<h2 class="title">HOW TO GET STARTED</h2>
				<ol>
					<li>Get the Way to Win Intensive</li>
					<li>Carve out 1.5 hours to watch the self-paced training videos directly from Pastor Jeff and the
						Milestone team
					</li>
					<li>Launch your Development Group utilizing the resources, templates, and samples provided</li>
				</ol>
			</div>
			<div class="get-started__right">
				<h3 class="get-started__sub-title">Content Overview</h3>
				<div class="get-started__item">
					<h4 class="get-started__item-title">Section 1</h4>
					<p>Create confidence that them men in your group will get real value out of prioritizing this time
						each week.</p>
				</div>
				<div class="get-started__item">
					<h4 class="get-started__item-title">Section 2</h4>
					<p>Build spiritual foundations & show how it benefits their daily life.</p>
				</div>
				<div class="get-started__item">
					<h4 class="get-started__item-title">Section 3</h4>
					<p>Identify what it means to have integrity in relationships and to lead your family well.</p>
				</div>
				<div class="get-started__item">
					<h4 class="get-started__item-title">Section 4</h4>
					<p>Understand the difference in actual values vs. aspirational values, and the importance of not
						just attending church, but engaging.</p>
				</div>
				<div class="get-started__item">
					<h4 class="get-started__item-title">Section 5</h4>
					<p>Equip the men in your group to help those around them grow in their walk with God.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/feedback.css">
<section class="feedback">
	<div class="inner">
		<h2 class="title">Want to know more about The Way to Win Intensive?</h2>
		<div class="feedback__wrapper">
			<h3 class="feedback__sub-title">Let us know and one of our team members will be in touch.</h3>
			<div class="feedback__form"></div>
		</div>
	</div>
</section>
